@media only screen and (max-width: 800px) {
  .container-fluid {
    min-width: 750px; }

  .container {
    width: 720px;
    max-width: 720px; }

  .top-menu, .language {
    display: none; }

  .laptop-logo {
    flex-grow: 1; }

  .sandwich-laptop {
    display: block;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    background-image: url("../img/sandwich.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 27px !important;
    max-width: 27px !important;
    height: 27px; }

  .second-row-wrap {
    margin-left: -360px;
    display: none; }

  .third-row {
    top: 270%;
    margin-left: -360px; }

  .third-row-inner {
    top: 95px;
    margin-left: -360px; }

  .bus-search {
    flex-flow: row wrap;
    width: 720px; }

  .stations {
    min-width: 720px; }

  .station-item {
    width: 337px; }

  .station {
    width: 337px; }

  .stations .select2-container .select2-selection--multiple {
    width: 337px; }

  .date {
    margin-left: 0;
    width: 230px !important;
    max-width: 230px !important; }

  .date-add {
    width: 230px;
    background-position: 200px center; }

  .passenger-wrap {
    width: 230px; }
    .passenger-wrap .select2-container .select2-selection--single {
      width: 230px; }

  .passenger {
    width: 230px; }

  .search {
    width: 230px;
    background-position: 60px center; }

  .carousel {
    height: 288px; }
    .carousel .carousel-inner .item .slide-item {
      height: 288px;
      align-items: flex-start; }
      .carousel .carousel-inner .item .slide-item h1 {
        margin-top: 20px;
        font-size: 16px; }
    .carousel .carousel-control .control-left {
      top: 114px; }
    .carousel .carousel-control .control-right {
      top: 114px; }

  .odds .odds-item {
    width: 350px;
    height: 150px; }
    .odds .odds-item .odds-left img {
      max-width: 142px; }
    .odds .odds-item .odds-right {
      padding: 15px;
      align-items: flex-start; }
      .odds .odds-item .odds-right h2 {
        font-size: 15px;
        line-height: 22px; }
      .odds .odds-item .odds-right a p {
        font-size: 16px;
        padding: 5px 10px; }

  .directions-wrap .directions .directions-inner .directions-body .directions-item {
    width: 350px; }

  .news-wrap .news .news-inner .news-item {
    max-width: 235px; }

  .footer-top-wrap .footer-top {
    flex-flow: row nowrap; }
    .footer-top-wrap .footer-top .footer-top-ul {
      flex-flow: row nowrap; }
      .footer-top-wrap .footer-top .footer-top-ul li {
        margin-right: 6px; }
        .footer-top-wrap .footer-top .footer-top-ul li a {
          font-size: 14px; }

  .top-menu-laptop {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1100;
    background-color: #09c;
    width: 765px;
    left: -15px;
    top: 253px;
    padding: 15px 0 15px 15px;
    border-top: 1px solid #02396c;
    border-bottom: 1px solid #02396c;
    margin-right: 0; }
    .top-menu-laptop li {
      margin-right: 20px; }
      .top-menu-laptop li a {
        color: white;
        font-size: 15px;
        line-height: 35px; }

  .second-row-wrap-laptop {
    display: block;
    position: absolute;
    z-index: 1100;
    top: 57px;
    left: -15px;
    margin-left: 0;
    width: 765px;
    padding-left: 0;
    padding-right: 0; }

  .second-row-laptop {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #09c;
    border-top: 1px solid #02396c;
    border-bottom: 1px solid #02396c;
    padding: 20px 0px 0px;
    width: 765px;
    max-width: 765px;
    height: auto; }

  .top-menu-second-laptop {
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 0; }
    .top-menu-second-laptop li {
      margin-bottom: 20px; }

  .language-laptop {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #09c;
    border-top: 1px solid #02396c;
    border-bottom: 1px solid #02396c;
    padding: 25px 0;
    width: 765px;
    max-width: 765px;
    height: auto;
    position: absolute;
    z-index: 1100;
    top: 424px;
    left: -15px; }

  .sandwich-laptop-laptop {
    background-image: url("../img/close-menu.png");
    width: 27px !important;
    max-width: 27px !important;
    height: 27px; }

  .footer-bottom-wrap .footer-bottom .footer-bottom-menu .footer-bottom-item-2 {
    width: 130px; }

  /* Inners */
  /* Search */
  .search-item tbody tr td {
    padding: 20px 15px; }
    .search-item tbody tr td .date-search {
      font-size: 15px; }
  .search-item tbody tr td:nth-child(1), .search-item tbody tr td:nth-child(3) {
    min-width: 105px; }
  .search-item tbody tr td:nth-child(5) {
    min-width: 100px; }

  .search-item-mob {
    display: none; }

  /* Order */
  .order-caption .order-status {
    left: 105px;
    width: 460px; }
    .order-caption .order-status .order-status-active-1 {
      width: 21%; }
    .order-caption .order-status .order-status-active-2 {
      width: 52%; }

  .order-body .details-btn {
    display: none; }
  .order-body .order-map form .order-group input[type='text'], .order-body .order-map form .order-group input[type='number'], .order-body .order-map form .order-group input[type='email'] {
    width: 455px; }
  .order-body .order-map .pay-way {
    width: 480px; }
    .order-body .order-map .pay-way .pay-way-label-inner .pays img {
      margin-right: 2px; }
  .order-body .order-map .pay-collapse {
    width: 480px; }
    .order-body .order-map .pay-collapse form.pay-form .pay-group .city, .order-body .order-map .pay-collapse form.pay-form .pay-group .street {
      width: 460px; }
    .order-body .order-map .pay-collapse form.pay-form .pay-group .home, .order-body .order-map .pay-collapse form.pay-form .pay-group .flat {
      width: 200px; }
    .order-body .order-map .pay-collapse form.pay-form .pay-group-reciever .family, .order-body .order-map .pay-collapse form.pay-form .pay-group-reciever .name, .order-body .order-map .pay-collapse form.pay-form .pay-group-reciever .phone-form {
      width: 460px; }
    .order-body .order-map .pay-collapse form.pay-form .pay-group-reciever .family {
      margin-right: 0; }
    .order-body .order-map .pay-collapse form.pay-form .pay-group-reciever .name {
      margin-bottom: 20px; }

  .form-accept-wrap .form-accept {
    padding-left: 80px; }

  /* Bus list */
  .type-trip .type-trip-inner {
    height: 160px;
    padding: 30px 0 35px;
    flex-flow: row wrap; }
    .type-trip .type-trip-inner .type-trip-item-1 {
      width: 100%;
      margin-bottom: 10px; }
      .type-trip .type-trip-inner .type-trip-item-1 h1 {
        text-align: center; }
    .type-trip .type-trip-inner .type-trip-item-2 {
      margin-right: 20px; }
    .type-trip .type-trip-inner .btn-yellow {
      width: 350px;
      margin: 0; }
    .type-trip .type-trip-inner .btn-blue {
      width: 350px;
      margin: 0; }

  .trip-params {
    padding-bottom: 10px; }
    .trip-params .trip-params-inner {
      flex-flow: row wrap; }
      .trip-params .trip-params-inner .trip-from {
        width: 350px; }
      .trip-params .trip-params-inner .trip-where {
        width: 350px; }
    .trip-params .trip-params-inner-1 {
      margin-right: 20px; }

  .trip-search-wrap form {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .trip-search-wrap input[type="text"] {
    width: 565px; }

  .trip-table-bus tbody tr td {
    max-width: 20%;
    padding: 20px 0px 20px 25px; }
    .trip-table-bus tbody tr td .trip-btn {
      margin-left: 15px; }
  .trip-table-bus tbody tr td:nth-child(1), .trip-table-bus tbody tr td:nth-child(4) {
    min-width: 0; }
  .trip-table-bus tbody tr td:nth-child(5) {
    padding: 20px 20px 20px 10px; }

  .map-bus-list {
    padding-left: 0;
    padding-right: 0; }

  /* AS */
  .inner-body-as .as-inner-body .as-content {
    max-width: 480px; }
    .inner-body-as .as-inner-body .as-content .as-spec-wrap {
      flex-flow: column wrap;
      margin-bottom: 40px; }
      .inner-body-as .as-inner-body .as-content .as-spec-wrap .as-spec-img img {
        margin-left: 30px; }
    .inner-body-as .as-inner-body .as-content .trip-search-wrap form input[type="text"] {
      width: 315px; }
    .inner-body-as .as-inner-body .as-content .trip-search-wrap form .search-trip {
      padding-left: 40px;
      background-position: 20px center; }
    .inner-body-as .as-inner-body .as-content .trip-table-as thead tr th {
      background-position: 10px center; }
      .inner-body-as .as-inner-body .as-content .trip-table-as thead tr th a {
        padding-left: 35px; }
    .inner-body-as .as-inner-body .as-content .trip-table-as tbody tr td {
      padding-left: 30px; }
      .inner-body-as .as-inner-body .as-content .trip-table-as tbody tr td .trip-btn {
        width: 100px;
        font-size: 14px; }
    .inner-body-as .as-inner-body .as-content .trip-table-as tbody tr td:nth-child(1) {
      background-position: 6px center;
      padding-left: 35px;
      min-width: 160px; }
    .inner-body-as .as-inner-body .as-content .trip-table-as tbody tr td:nth-child(4) {
      padding-left: 5px;
      padding-right: 5px; }

  /* AS List */
  .as-search-wrap {
    top: 170px;
    left: 0;
    margin-left: 15px;
    flex-flow: row nowrap; }
    .as-search-wrap input[type="text"] {
      width: 560px;
      margin-right: 0; }

  .as-list ul {
    max-width: 720px; }
    .as-list ul li {
      width: 240px;
      margin-right: 0; } }
@media only screen and (max-width: 650px) {
  .third-row {
    margin-left: -297px; } }
@media only screen and (max-width: 420px) {
  .third-row {
    margin-left: -185px; } }
@media only screen and (max-width: 375px) {
  body {
    overflow-x: hidden; }

  .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 330px; }

  .container {
    width: 330px;
    max-width: 330px;
    overflow: hidden; }

  .sandwich-laptop {
    margin-right: 3px; }

  .phone, .cabinet {
    display: none; }

  .phone-mobile, .cabinet-mobile {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #09c;
    border-top: 1px solid #02396c;
    border-bottom: 1px solid #02396c;
    padding: 15px 0;
    width: 375px;
    max-width: 375px;
    height: auto;
    position: absolute;
    z-index: 1100; }

  .cabinet-mobile {
    top: 57px;
    left: -2%; }

  .phone-mobile {
    top: 456px;
    left: -2%; }

  .top-menu-laptop {
    top: 285px;
    padding: 5px 0;
    width: 375px; }
    .top-menu-laptop li a {
      line-height: 40px; }

  .second-row-wrap-laptop {
    top: 108px;
    left: -15px;
    margin-left: -185px; }

  .second-row-laptop {
    padding: 15px 30px 5px 0;
    width: 375px;
    max-width: 375px; }

  .top-menu-second-laptop li {
    margin-bottom: 15px; }

  .language-laptop {
    top: 507px;
    width: 375px;
    max-width: 375px;
    padding: 15px 0px 15px 0px; }

  .third-row {
    height: 465px;
    top: -112px;
    left: 5px;
    margin-left: 0;
    padding: 5px; }

  .third-row-inner {
    height: 465px;
    top: -112px;
    left: 5px;
    margin-left: 0;
    padding: 5px; }

  .bus-search {
    width: 330px;
    padding: 6px; }

  .stations {
    min-width: 320px;
    flex-flow: column nowrap;
    height: 115px; }

  .station-item {
    width: 320px; }

  .station {
    width: 320px;
    margin-bottom: 12px; }

  .stations .select2-container .select2-selection--multiple {
    width: 320px; }

  .date, .date-add {
    width: 155px !important; }

  .date-add {
    background-position: 122px center; }

  .passenger-wrap {
    width: 155px; }
    .passenger-wrap .select2-container .select2-selection--single {
      width: 155px; }

  .passenger {
    width: 155px; }

  .search {
    width: 320px; }

  .reverse {
    display: none; }

  .carousel-wrap {
    height: 320px; }

  .carousel {
    display: none; }

  .note-wrap {
    display: none; }

  .odds {
    flex-flow: row wrap;
    padding: 25px 0px 0px; }
    .odds .odds-item {
      margin-bottom: 25px; }
      .odds .odds-item .odds-right h2 {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px; }
    .odds .odds-item-1 {
      margin-right: 0; }

  .directions-wrap {
    padding-top: 0;
    padding-bottom: 50px; }
    .directions-wrap .directions {
      flex-flow: row wrap; }
      .directions-wrap .directions .directions-inner {
        padding-top: 35px;
        padding-bottom: 0; }
        .directions-wrap .directions .directions-inner h1 {
          margin-bottom: 25px; }
        .directions-wrap .directions .directions-inner .directions-body .directions-item {
          width: 330px;
          padding: 10px 10px 10px 40px;
          background-position: 10px center; }

  .offer {
    padding: 35px 0; }
    .offer h1 {
      margin-bottom: 35px; }
    .offer .offer-inner .offer-item {
      width: 162px;
      height: 149px; }
      .offer .offer-inner .offer-item .offer-body h2 {
        line-height: 15px; }
      .offer .offer-inner .offer-item a img {
        max-width: 100%;
        max-height: 100%; }
      .offer .offer-inner .offer-item a h2 {
        font-size: 12px;
        line-height: 15px; }
      .offer .offer-inner .offer-item .btn-yellow {
        left: 32px;
        bottom: -42px; }

  .news-wrap .news {
    padding: 35px 0; }
    .news-wrap .news h1 {
      margin-bottom: 35px; }
    .news-wrap .news .news-inner .news-item {
      max-width: 100%; }

  .map {
    padding: 35px 0 0; }
    .map h1 {
      margin-bottom: 35px; }

  #map #content {
    border: 10px solid #2cbaf0; }
    #map #content #bodyContent .bodyContentImg img {
      max-width: 100%;
      max-height: 100%; }
    #map #content #bodyContent .bodyContentTxt {
      flex-grow: 1;
      padding: 5px; }
      #map #content #bodyContent .bodyContentTxt h1 {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px; }
      #map #content #bodyContent .bodyContentTxt p {
        font-size: 8px;
        line-height: 10px; }

  .footer-top-wrap {
    display: none; }

  .footer-bottom-wrap {
    background-image: url("../img/footer-mob-bg.png"); }
    .footer-bottom-wrap .footer-bottom {
      height: 356px; }
      .footer-bottom-wrap .footer-bottom .footer-bottom-menu .footer-bottom-item {
        width: 50%; }
      .footer-bottom-wrap .footer-bottom .footer-bottom-menu .footer-bottom-item-2 {
        width: 50%; }
      .footer-bottom-wrap .footer-bottom .footer-bottom-menu .footer-bottom-item-3 {
        bottom: 10px;
        right: 0; }
      .footer-bottom-wrap .footer-bottom .footer-bottom-menu .footer-bottom-item-4 {
        bottom: 50px;
        right: 0; }

  /* Inners */
  .menu-lining {
    height: 335px; }

  /*Search*/
  .status-bar {
    padding-left: 0;
    padding-right: 0; }

  .search-caption {
    width: 320px; }
    .search-caption tbody tr td:nth-child(1) {
      width: 160px; }
    .search-caption tbody tr td:nth-child(2), .search-caption tbody tr td:nth-child(3) {
      display: none; }
    .search-caption tbody tr td:nth-child(4) {
      background-image: url("../img/search-select.png");
      background-position: 25px center;
      background-repeat: no-repeat; }

  .search-item {
    display: none; }

  .search-item-mob {
    width: 320px;
    display: block;
    border-left: 4px solid #09c;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background-color: #fff;
    margin-bottom: 25px; }
    .search-item-mob thead tr {
      border-bottom: 1px solid #e5e5e5; }
      .search-item-mob thead tr th {
        height: 42px; }
      .search-item-mob thead tr th:nth-child(1) {
        background-image: url("../img/bus.png");
        background-repeat: no-repeat;
        background-position: 20px center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 50px; }
      .search-item-mob thead tr th:nth-child(2) {
        color: #282f39;
        font-family: "ArialBold";
        font-size: 16px;
        line-height: 20px;
        padding-left: 0;
        width: 152px; }
      .search-item-mob thead tr th:nth-child(3) {
        color: #ccc; }
    .search-item-mob tbody tr td {
      font-size: 13px;
      font-weight: 400;
      color: black;
      line-height: 24px;
      padding: 15px 15px 0; }
      .search-item-mob tbody tr td .time-search {
        font-size: 26px;
        margin-bottom: 5px; }
      .search-item-mob tbody tr td .date-search {
        color: #666;
        font-size: 16px; }
      .search-item-mob tbody tr td .btn {
        width: 284px; }
    .search-item-mob tbody tr td:nth-child(1) {
      text-align: left;
      min-width: 108px; }
    .search-item-mob tbody tr td:nth-child(2) {
      padding-left: 0; }
    .search-item-mob tbody tr:nth-child(3) {
      border-bottom: 1px solid #e5e5e5; }
      .search-item-mob tbody tr:nth-child(3) td:nth-child(1) {
        padding-bottom: 15px; }

  .search-item-mob-optimal {
    border-left: 4px solid #3c0; }

  .search-item-mob-action {
    border-left: 4px solid #f33; }

  /* Order */
  .order-caption {
    display: none; }

  .order-body {
    flex-flow: column nowrap; }
    .order-body .details-btn {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      width: 320px;
      height: 45px;
      border: 1px solid #ccc;
      background-color: #fff;
      padding: 20px;
      font-size: 16px;
      font-family: "ArialBold";
      text-transform: uppercase;
      background-image: url("../img/arrow-down-grey.png");
      background-position: 300px center;
      background-repeat: no-repeat; }
    .order-body .details-wrap {
      display: none;
      overflow: hidden; }
      .order-body .details-wrap h1 {
        display: none; }
      .order-body .details-wrap .order-number {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 320px;
        height: 45px;
        border: 1px solid #ccc;
        background-color: #fff;
        margin-bottom: 0;
        padding: 20px; }
      .order-body .details-wrap .order-details, .order-body .details-wrap .order-summ {
        width: 320px;
        margin-bottom: 0; }
    .order-body .in {
      display: block !important; }
    .order-body .order-map {
      max-width: 330px;
      margin-top: 20px; }
      .order-body .order-map .carrier {
        max-width: 320px;
        background-position: left top; }
      .order-body .order-map .bus-map {
        flex-flow: column nowrap;
        width: 220px;
        height: 460px;
        padding: 0 20px;
        margin: 0 auto; }
        .order-body .order-map .bus-map .cabin {
          width: 220px;
          height: 120px;
          background-image: url("../img/cabin-mobile.png");
          background-repeat: no-repeat;
          background-position: 30px center; }
        .order-body .order-map .bus-map .salon {
          width: 180px;
          height: 300px; }
          .order-body .order-map .bus-map .salon .salon-row {
            flex-flow: column wrap; }
      .order-body .order-map .legend {
        width: 320px; }
        .order-body .order-map .legend .legend-item .place-free, .order-body .order-map .legend .legend-item .place-busy, .order-body .order-map .legend .legend-item .place-select {
          width: 16px !important;
          height: 16px !important;
          margin-right: 5px; }
      .order-body .order-map form .order-group input[type='text'], .order-body .order-map form .order-group input[type='number'], .order-body .order-map form .order-group input[type='email'] {
        width: 320px; }
      .order-body .order-map .pay-way {
        width: 320px;
        height: 140px; }
        .order-body .order-map .pay-way .pay-group .pay-method {
          margin-left: 0; }
        .order-body .order-map .pay-way .pay-group input[type="radio"] {
          top: 43px;
          left: 3px; }
        .order-body .order-map .pay-way .pay-group input[type="radio"] + label.radio-pay span {
          top: 35px;
          right: 14px; }
        .order-body .order-map .pay-way .pay-way-label-inner {
          margin-left: 37px; }
          .order-body .order-map .pay-way .pay-way-label-inner .pays {
            max-width: 165px !important; }
            .order-body .order-map .pay-way .pay-way-label-inner .pays img {
              margin-bottom: 5px;
              max-width: 130px; }
          .order-body .order-map .pay-way .pay-way-label-inner .pay-cost {
            align-self: flex-end; }
      .order-body .order-map .pay-collapse {
        width: 320px; }
        .order-body .order-map .pay-collapse form.pay-form p.pay-note {
          font-size: 13px;
          line-height: 20px; }
        .order-body .order-map .pay-collapse form.pay-form .pay-group .home, .order-body .order-map .pay-collapse form.pay-form .pay-group .flat {
          width: 120px; }
        .order-body .order-map .pay-collapse form.pay-form .date .date-add-pay {
          width: 258px;
          background-position: 220px center; }

  .form-accept-wrap .form-accept {
    padding-left: 0; }
  .form-accept-wrap .form-accept-1 {
    padding-left: 0; }

  .order-body-step-four h1 {
    text-align: center; }
  .order-body-step-four .order-step-four {
    width: 320px;
    padding: 20px 20px 10px 20px; }
  .order-body-step-four .u-can-pay {
    width: 320px;
    padding: 20px; }
    .order-body-step-four .u-can-pay .pays {
      text-align: center; }
      .order-body-step-four .u-can-pay .pays a img {
        margin: 10px 20px; }

  /* Bus list */
  .inner-body-bus-list {
    padding-left: 0;
    padding-right: 0; }

  .type-trip {
    padding-left: 0;
    padding-right: 0; }
    .type-trip .type-trip-inner {
      height: 225px; }
      .type-trip .type-trip-inner .btn-yellow {
        margin-bottom: 15px; }

  .trip-params {
    flex-flow: row wrap;
    height: 240px; }
    .trip-params .trip-params-inner .trip-from, .trip-params .trip-params-inner .trip-where {
      width: 320px; }
    .trip-params .trip-params-inner label {
      max-width: 100%; }

  .trip-search-wrap {
    margin-top: 25px;
    margin-bottom: 25px; }
    .trip-search-wrap form {
      flex-flow: row wrap;
      justify-content: center; }
    .trip-search-wrap input[type="text"] {
      width: 320px;
      margin-right: 0;
      margin-bottom: 20px; }
    .trip-search-wrap .search-trip {
      width: 320px; }

  .trip-table-bus {
    display: none; }

  .trip-table-bus-mobile {
    display: table;
    width: 100%;
    max-width: 320px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-bottom: -1px; }
    .trip-table-bus-mobile thead {
      max-width: 320px; }
      .trip-table-bus-mobile thead tr {
        background-color: #333; }
        .trip-table-bus-mobile thead tr th {
          background-image: url("../img/trip-select.png");
          background-position: 24px center;
          background-repeat: no-repeat;
          height: 40px; }
          .trip-table-bus-mobile thead tr th a {
            color: white;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            padding-left: 45px; }
        .trip-table-bus-mobile thead tr th:nth-child(2) {
          background-position: 84px center; }
          .trip-table-bus-mobile thead tr th:nth-child(2) a {
            padding-left: 105px; }
    .trip-table-bus-mobile tbody tr {
      background-color: #fff; }
      .trip-table-bus-mobile tbody tr td {
        color: black;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 10px 10px 10px 10px;
        text-align: left;
        vertical-align: top; }
        .trip-table-bus-mobile tbody tr td .trip-btn {
          width: 280px;
          height: 50px;
          font-size: 16px; }
        .trip-table-bus-mobile tbody tr td .trip-number {
          margin-top: 10px;
          color: #666;
          font-size: 14px;
          line-height: 17px; }
          .trip-table-bus-mobile tbody tr td .trip-number span {
            color: black;
            font-size: 16px; }
        .trip-table-bus-mobile tbody tr td .trip-note {
          color: #282f39;
          font-size: 13px;
          line-height: 15px; }
        .trip-table-bus-mobile tbody tr td .trip-info {
          margin-top: 10px;
          font-size: 13px;
          line-height: 15px;
          color: #666; }
          .trip-table-bus-mobile tbody tr td .trip-info span {
            color: black; }
      .trip-table-bus-mobile tbody tr td:nth-child(5) {
        padding-left: 0;
        text-align: center;
        vertical-align: middle; }
    .trip-table-bus-mobile tbody tr:nth-child(1) td:nth-child(1) {
      padding-left: 55px;
      background-image: url("../img/bus.png");
      background-position: 20px 23px;
      background-repeat: no-repeat; }
    .trip-table-bus-mobile tbody tr:nth-child(2) td:nth-child(1), .trip-table-bus-mobile tbody tr:nth-child(3) td:nth-child(1) {
      padding: 10px 10px 10px 50px; }
    .trip-table-bus-mobile tbody tr:nth-child(4) {
      border-bottom: 1px solid #e5e5e5; }
      .trip-table-bus-mobile tbody tr:nth-child(4) td {
        padding: 10px 20px 20px 20px; }

  /* AS */
  .inner-body-as {
    padding: 30px 0; }
    .inner-body-as .inner-body-as-inner {
      margin-left: 0;
      margin-right: 0; }
      .inner-body-as .inner-body-as-inner h1 {
        margin-top: 0px;
        margin-bottom: 30px; }
    .inner-body-as .as-inner-body .as-list-inner {
      display: none; }
    .inner-body-as .as-inner-body .as-content {
      max-width: 330px;
      padding-left: 15px; }
      .inner-body-as .as-inner-body .as-content .select-as {
        display: block;
        margin-bottom: 30px; }
        .inner-body-as .as-inner-body .as-content .select-as .as {
          border: 1px solid #e5e5e5;
          padding: 10px;
          color: #666;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          width: 310px;
          height: 50px; }
      .inner-body-as .as-inner-body .as-content h1 {
        line-height: 36px; }
      .inner-body-as .as-inner-body .as-content .as-spec-wrap .as-spec-img img {
        margin-left: 10px; }
      .inner-body-as .as-inner-body .as-content .trip-search-wrap form {
        flex-flow: row wrap; }
        .inner-body-as .as-inner-body .as-content .trip-search-wrap form input[type="text"], .inner-body-as .as-inner-body .as-content .trip-search-wrap form .search-trip {
          width: 310px; }
        .inner-body-as .as-inner-body .as-content .trip-search-wrap form input[type="text"] {
          margin-right: 0;
          background-position: 105px center; }
      .inner-body-as .as-inner-body .as-content .trip-table-as {
        display: none; }
      .inner-body-as .as-inner-body .as-content .trip-table-as-mobile {
        display: table;
        width: 100%;
        max-width: 320px;
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        margin-top: -1px; }
        .inner-body-as .as-inner-body .as-content .trip-table-as-mobile thead {
          max-width: 320px; }
          .inner-body-as .as-inner-body .as-content .trip-table-as-mobile thead tr {
            background-color: #333; }
            .inner-body-as .as-inner-body .as-content .trip-table-as-mobile thead tr th {
              background-image: url("../img/trip-select.png");
              background-position: 24px center;
              background-repeat: no-repeat;
              height: 40px; }
              .inner-body-as .as-inner-body .as-content .trip-table-as-mobile thead tr th a {
                color: white;
                font-size: 13px;
                font-weight: 400;
                line-height: 24px;
                padding-left: 45px; }
        .inner-body-as .as-inner-body .as-content .trip-table-as-mobile tbody tr {
          background-color: #fff; }
          .inner-body-as .as-inner-body .as-content .trip-table-as-mobile tbody tr td {
            color: black;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding: 20px 0px 10px 22px;
            text-align: left;
            vertical-align: top; }
            .inner-body-as .as-inner-body .as-content .trip-table-as-mobile tbody tr td .trip-btn {
              width: 270px;
              height: 50px;
              font-size: 16px; }
            .inner-body-as .as-inner-body .as-content .trip-table-as-mobile tbody tr td .trip-info {
              font-size: 13px;
              line-height: 15px;
              color: #666; }
              .inner-body-as .as-inner-body .as-content .trip-table-as-mobile tbody tr td .trip-info span {
                color: black;
                font-size: 16px; }
          .inner-body-as .as-inner-body .as-content .trip-table-as-mobile tbody tr td:nth-child(5) {
            padding-left: 0;
            text-align: center;
            vertical-align: middle; }
        .inner-body-as .as-inner-body .as-content .trip-table-as-mobile tbody tr:nth-child(1) td:nth-child(1) {
          padding-left: 55px;
          background-image: url("../img/bus.png");
          background-position: 20px 23px;
          background-repeat: no-repeat; }
        .inner-body-as .as-inner-body .as-content .trip-table-as-mobile tbody tr:nth-child(3) {
          border-bottom: 1px solid #e5e5e5; }

  /* AS List */
  .as-search-wrap input[type="text"], .as-search-wrap .search-as {
    width: 310px; }
  .as-search-wrap input[type="text"] {
    margin-bottom: 30px; }

  .inner-body-as-list {
    padding-left: 0;
    padding-right: 0; }

  .as-list-wrap {
    padding: 20px 0 20px; }

  .as-list ul {
    max-width: 320px;
    max-height: 100%; }
    .as-list ul li {
      width: 320px;
      margin-right: 0; } }
@media only screen and (max-width: 320px) {
  body {
    overflow-x: visible; }

  .container-fluid {
    padding-left: 5px;
    padding-right: 10px;
    min-width: 320px; }

  .container {
    width: 320px;
    max-width: 320px;
    overflow: hidden; } }

/*# sourceMappingURL=media.css.map */
