@media only screen and (max-width: 800px) {
	.container-fluid {
		min-width: 750px;
	}

	.container {
		width: 720px;
		max-width: 720px;
	}

	.top-menu, .language {
		display: none;
	}

	.laptop-logo {
		flex-grow: 1;
	}

	.sandwich-laptop {
		display: block;
		flex-grow: 1;
		background-color: transparent;
		border: none;
		background-image: url('../img/sandwich.png');
		background-repeat: no-repeat;
		background-position: center;
	    width: 27px !important;
	    max-width: 27px !important;
	    height: 27px;
	}

	.second-row-wrap {
		margin-left: -360px;
		display: none;
	}

	.third-row {
		top: 270%;
		margin-left: -360px;
	}

	.third-row-inner {
		top: 95px;
		margin-left: -360px;
	}

	.bus-search {
		flex-flow: row wrap;
		width: 720px;
	}

	.stations {
		min-width: 720px;
	}

	.station-item {
		width: 337px;
	}

	.station {
		width: 337px;
	}

	.stations .select2-container .select2-selection--multiple {
		width: 337px;
	}

	.date-wrap {
		width: 230px;
	}

	.date {
		margin-left: 0;
	}

	.date-add {
		width: 100%;
		background-position: 200px center;
	}

	.passenger-wrap {
		width: 230px;
		.select2-container .select2-selection--single {
			width: 230px;
		}
	}

	.passenger {
		width: 230px;		
	}

	.search {
		width: 230px;
		background-position: 60px center;
	}

	.carousel {
		height: 288px;
		.carousel-inner {
			.item {
				.slide-item {
					height: 288px;
					align-items: flex-start;
					h1 {
						margin-top: 20px;
						font-size: 16px;
					}
				}
			}
		}
		.carousel-control {
			.control-left {
				top: 114px;
			}
			.control-right {
				top: 114px;
			}
		}
	}

	.odds {
		.odds-item {
			width: 350px;
			height: 150px;
			.odds-left {
				img {
					max-width: 142px;
				}
			}
			.odds-right {
				padding: 15px;
				align-items: flex-start;
				h2 {
					font-size: 15px;
					line-height: 22px;
				}
				a {
					p {
						font-size: 16px;
						padding: 5px 10px;
					}
				}
			}
		}
	}

	.directions-wrap {
		.directions {
			.directions-inner {
				.directions-body {
					.directions-item {
						width: 350px;
					}
				}
			}
		}
	}

	.news-wrap {
		.news {
			.news-inner {
				.news-item {
				    max-width: 235px;
				    .news-body {

				    }
				}
			}
		}
	}

	.footer-top-wrap {
		.footer-top {
			flex-flow: row nowrap;
			.footer-top-ul {
				flex-flow: row nowrap;
				li {
					margin-right: 6px;
					a {
						font-size: 14px;
					}
				}
			}
		}
	}

	.top-menu-laptop {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 1100;
		background-color: #09c;
		width: 765px;
		left: -15px;
		top: 253px;
		padding: 15px 0 15px 15px;
		border-top: 1px solid #02396c;
		border-bottom: 1px solid #02396c;
		margin-right: 0;
		li {
			margin-right: 20px;
			a {
				color: white;
				font-size: 15px;
				line-height: 35px;
			}
		}
	}

	.second-row-wrap-laptop {
		display: block;
		position: absolute;
		z-index: 1100;
		top: 57px;
		left: -15px;
	    margin-left: 0;
	    width: 765px;
	    padding-left: 0;
	    padding-right: 0;
	}

	.second-row-laptop {	
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		background-color: #09c;
		border-top: 1px solid #02396c;
		border-bottom: 1px solid #02396c;
		padding: 20px 0px 0px;
		width: 765px;
		max-width: 765px;
		height: auto;
	}

	.top-menu-second-laptop {
		flex-flow: column wrap;
		justify-content: center;
		margin-bottom: 0;		
		li {
			margin-bottom: 20px;
		}
	}

	.language-laptop {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		background-color: #09c;
		border-top: 1px solid #02396c;
		border-bottom: 1px solid #02396c;
		padding: 25px 0;
		width: 765px;
		max-width: 765px;
		height: auto;
		position: absolute;
		z-index: 1100;
		top: 424px;
		left: -15px;
	}

	.sandwich-laptop-laptop {
		background-image: url('../img/close-menu.png');
		width: 27px !important;
		max-width: 27px !important;
		height: 27px;
	}

	.footer-bottom-wrap {
		.footer-bottom {
			.footer-bottom-menu {
				.footer-bottom-item-2 {
					width: 130px;
				}
				.footer-bottom-item-3 {
				}
				.footer-bottom-item-4 {
				}
			}
		}
	}	

	/* Inners */
	
	/* Search */
	.search-item {
		tbody {
			tr {
				td {
					padding: 20px 15px;
					.date-search {
						font-size: 15px;
					}
				}
				td:nth-child(1), td:nth-child(3) {
					min-width: 105px;
				}

				td:nth-child(5) {
					min-width: 100px;
				}
			}
		}
	}
	.search-details {
	    background: url(../img/dashed-vertical.png) 138px center repeat-y;
	}

	/* Order */
	.order-caption {
		.order-status {
			left: 105px;
			width: 460px;
			.order-status-active-1 {
				width: 21%;
			}
			.order-status-active-2 {
				width: 52%;
			}
		}
	}
	.order-body {
		.details-btn {
			display: none;
		}
		.order-map {
			form {
				.order-group {
					input[type='text'], input[type='number'],input[type='email'] {
						width: 455px;
					}
				}
			}
			.pay-way {
				width: 480px;
				.pay-way-label-inner {
					.pays {
						img {
							margin-right: 2px;
						}
					}
				}
			}
			.pay-collapse {
				width: 480px;
				form.pay-form {
					.pay-group {
						.city, .street {
							width: 460px;
						}
						.home, .flat {
							width: 200px;
						}						
					}
					.pay-group-reciever {
						.family, .name, .phone-form {
							width: 460px;
						}
						.family {
							margin-right: 0;
						}
						.name {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	.form-accept-wrap {
		.form-accept {
			padding-left: 80px;
		}
	}

	/* Bus list */
	.type-trip {
		.type-trip-inner {
			height: 160px;
			padding: 30px 0 35px;
			flex-flow: row wrap;
			.type-trip-item-1 {
				width: 100%;
				margin-bottom: 10px;
				h1 {
					text-align: center;					
				}
			}
			.type-trip-item-2 {
				margin-right: 20px;
			}
			.btn-yellow {
				width: 350px;
				margin: 0;
			}
			.btn-blue {
				width: 350px;
				margin: 0;
			}
		}
	}
	.trip-params {
		padding-bottom: 10px;
		.trip-params-inner {
			flex-flow: row wrap;
			.trip-from {
				width: 350px;
			}
			.trip-where {
				width: 350px;
			}
		}
		.trip-params-inner-1 {
			margin-right: 20px;
		}
	}
	.trip-search-wrap {
		form {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		input[type="text"] {
			width: 565px;
		}
	}
	.trip-table-bus {
		tbody {
			tr {
				td {
					max-width: 20%;
					padding: 20px 0px 20px 25px;
					.trip-btn {
						margin-left: 15px;
					}
				}
				td:nth-child(1), td:nth-child(4) {
					min-width: 0;
				}
				td:nth-child(5) {
					padding: 20px 20px 20px 10px;
				}
			}
		}
	}
	.map-bus-list {
		padding-left: 0;
		padding-right: 0;
	}

	/* AS */
	.inner-body-as {		
		.as-inner-body {
			.as-content {
				max-width: 480px;
				.as-spec-wrap {
					flex-flow: column wrap;
					margin-bottom: 40px;
					.as-spec-img {
						img {
							margin-left: 30px;
						}
					}
				}
				.trip-search-wrap {
					form {
						input[type="text"] {
							width: 315px;
						}
						.search-trip {
							padding-left: 40px;
							background-position: 20px center;
						}
					}
				}
				.trip-table-as {
					thead {
						tr {
							th {
								background-position: 10px center;
								a {
									padding-left: 35px;
								}
							}
						}
					}
					tbody {
						tr {
							td {
								padding-left: 30px;
								.trip-btn {
									width: 100px;
									font-size: 14px;
								}
							}
							td:nth-child(1) {
								background-position: 6px center;
								padding-left: 35px;
								min-width: 160px;
							}
							td:nth-child(4) {
								padding-left: 5px;
								padding-right: 5px;
							} 
						}
					}
				}
			}			
		}
	}

	/* AS List */
	.as-search-wrap {
		top: 170px;
		left: 0;
		margin-left: 15px;
		flex-flow: row nowrap;		
		input[type="text"] {
			width: 560px;
			margin-right: 0;
		}
	} 
	.as-list {
		ul {
			max-width: 720px;
			li {
				width: 240px;
				margin-right: 0;
			}
		}
	}

	/* Account */
	.table-account {
		thead {
			tr {
				th {
					a {
						padding-left: 10px;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					padding: 10px;
				}
				td:nth-child(2) {
					min-width: 0px;
				}
			}
		}
	}
}

@media only screen and (max-width: 650px) {
	.third-row {
		margin-left: -297px;
	}
} 
@media only screen and (max-width: 485px) {
	.enter-btn {
		background-image: url('../img/bus-white.png');
		background-position: 25% center;
		background-repeat: no-repeat;
	}
} 
@media only screen and (max-width: 420px) {
	.third-row {
		margin-left: -185px;
	}
} 

@media only screen and (max-width: 375px) {
	body {
		overflow-x: hidden;
	}

	.container-fluid {
		padding-left: 10px;
		padding-right: 10px;
		min-width: 330px;
	}
	.container {
		width: 330px;
		max-width: 330px;
		overflow: hidden;
	}

	.laptop-logo {
		width: 80%;		
	}

	.sandwich-laptop {
		margin-right: 3px;
		z-index: 1100;
		width: 20% !important;
	}

	.phone, .cabinet {
		display: none;
	}

	.phone-mobile, .cabinet-mobile {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		background-color: #09c;
		border-top: 1px solid #02396c;
		border-bottom: 1px solid #02396c;
		padding: 15px 0;
		width: 100%;
		max-width: 100%;
		height: auto;
		position: absolute;
		z-index: 1100;
	}

	.cabinet-mobile {
		top: 57px;
		left: 0;
	}

	.phone-mobile {
		top: 456px;
		left: 0;
	}

	.top-menu-laptop {
		top: 285px;
		padding: 5px 0;
		width: 100%;
		left: 0;
		li {
			a {
				line-height: 40px;
			}
		}
	}

	.second-row-wrap-laptop {
		top: 108px;
		left: -15px;
		margin-left: 0;
		width: 100%;
	}

	.second-row-laptop {
		padding: 15px 30px 5px 0;
		width: 110%;
		max-width: 110%;
	}

	.top-menu-second-laptop {
		li {
			margin-bottom: 15px;
		}
	}

	.language-laptop {
		top: 507px;
		width: 100%;
		max-width: 100%;
		padding: 15px 0px 15px 0px;
		left: 0;
	}

	.third-row {
		height: 465px;
		top: -112px;
		left: 5px;
		margin-left: 0;
		padding: 5px;
	}

	.third-row-inner {
		height: 465px;
		top: -112px;
		left: 5px;
		margin-left: 0;
		padding: 5px;
	}

	.bus-search {
		width: 100%;
		padding: 0px;
	}

	.stations {
		min-width: 100%;
	    flex-flow: column nowrap;	    
		height: 115px;
	}

	.station-item {
		width: 320px;
	}

	.station {
		width: 320px;
		margin-bottom: 12px;
	}

	.stations .select2-container .select2-selection--multiple {
	    width: 320px;
	}

	.date-wrap,
	.passenger-wrap {
		width: 155px;
	}

	.date, .date-add {
		width: 100% !important;
	}

	.date-add {
		background-position: 122px center;
	}

	.passenger-wrap {
		width: 155px;
		.select2-container .select2-selection--single {
   			width: 155px;
		}
	}
	

	.search {
		width: 320px;
	}

	.reverse {
		display: none;
	}

	.carousel-wrap {
		height: 320px;
	}
	.carousel {
		display: none;
	}

	.note-wrap {
		display: none;
	}

	.odds {
		flex-flow: row wrap;
		padding: 25px 0px 0px;
		.odds-item {
			margin-bottom: 25px;
			.odds-right {
				h2 {
					font-size: 14px;
					line-height: 18px;
					margin-bottom: 10px
				}
			}
		}
		.odds-item-1 {
			margin-right: 0;
		}
	}

	.directions-wrap {
		padding-top: 0;
    	padding-bottom: 50px;
		.directions {
			flex-flow: row wrap;
			.directions-inner {
				padding-top: 35px;
    			padding-bottom: 0;
				h1 {
					margin-bottom: 25px;
				}
				.directions-body {
					.directions-item {
						width: 330px;
						padding: 10px 10px 10px 40px;
						background-position: 10px center;
					}
				}
			}
		}
	}

	.offer {
		padding: 35px 0;
		h1 {
			margin-bottom: 35px;
		}
		.offer-inner {
			.offer-item {
				width: 162px;
				height: 149px;
				.offer-body {
					h2 {
						line-height: 15px;
					}
				}
				a {
					img {
						max-width: 100%;
						max-height: 100%;						
					}
					h2 {
						font-size: 12px;
						line-height: 15px;
					}
				}
				.btn-yellow {
					left: 32px;
					bottom: -42px;

				}
			}
		}
	}

	.news-wrap {
		.news {
			padding: 35px 0;
			h1 {
				margin-bottom: 35px;
			}
			.news-inner {
				.news-item {
	    			max-width: 100%;
	    		}
	    	}
	    }
	}

	.map {
		padding: 35px 0 0;
		h1 {
			margin-bottom: 35px;
		}
	}

	#map {
		#content {
			border: 10px solid #2cbaf0;
			#bodyContent {
				.bodyContentImg {
					img {
						max-width: 100%;
						max-height: 100%;
					}
				}
				.bodyContentTxt {
					flex-grow: 1;
					padding: 5px;
					h1 {
						font-size: 10px;
						line-height: 12px;
						margin-bottom: 5px;
					}
					p {
						font-size: 8px;
						line-height: 10px;

					}
				}
			}
		}
	}

	.footer-top-wrap {
		display: none;
	}

	.footer-bottom-wrap {
		background-image: url('../img/footer-mob-bg.png');
		.footer-bottom {
			height: 356px;
			.footer-bottom-menu {
				.footer-bottom-item {
					width: 50%;
				}
				.footer-bottom-item-2 {
					width: 50%;
				}
				.footer-bottom-item-3 {
					bottom: 10px;
					right: 0;
				}
				.footer-bottom-item-4 {
					bottom: 50px;
					right: 0;
				}
			}
		}
	}
	.enter {
		.modal-dialog {
			top: 83px;
		}
	}
	.enter-body {
	    padding: 15px 30px 50px;
	}
	.enter-body form .form-group label {
	    left: 0px;
	    bottom: 25px;
	}

	/* Inners */
	.menu-lining {
		height: 335px;
	}

	/*Search*/
	.status-bar {
		padding-left: 0;
		padding-right: 0;
	}
	.search-caption {
		width: 320px;
		tbody {
			tr {
				td:nth-child(1) {
					width: 160px;
				}
				td:nth-child(2), td:nth-child(3) {
					display: none;
				}
				td:nth-child(4) {
					background-image: url('../img/search-select.png');
					background-position: 25px center;
					background-repeat: no-repeat;
				} 
			}
		}
	}
	
	.search-item {
		display: none;
	}
	.search-item-mob-wrap {
		width: 320px;
		margin-bottom: 25px;
		display: block;
	}
	.search-item-mob {
		width: 100%;
		border-top: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
		background-color: #fff;
		thead {
			tr {
				border-bottom: 1px solid #e5e5e5;
				th {
					height: 42px;					
				}
				th:nth-child(1) {
					background-image: url('../img/bus.png');
					background-repeat: no-repeat;
					background-position: 20px center;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					padding-left: 50px;
				}
				th:nth-child(2) {
					color: #282f39;
					font-family: "ArialBold";
					font-size: 16px;
					line-height: 20px;
					padding-left: 0;
					width: 152px;
				}
				th:nth-child(3) {
					color: #ccc;
					a {
						cursor: pointer;
					}
				}
			}
		}
		tbody {		
			tr {				
				td {
					font-size: 13px;
					font-weight: 400;
					color: black;
					line-height: 24px;
					padding: 15px 15px 0;
					.time-search {
						font-size: 26px;
						margin-bottom: 5px;
					}
					.date-search {
						color: #666;
						font-size: 16px;
					}
					.btn {
						width: 284px;
					}
				}
				td:nth-child(1) {
					text-align: left;
					min-width: 108px;
				}
				td:nth-child(2) {
					padding-left: 0;
				}
			}
			tr:nth-child(3) {
				border-bottom: 1px solid #e5e5e5;
				td:nth-child(1) {
					padding-bottom: 15px;
				}				
			}
		}
	}

	.search-details {
		background: url(../img/dashed-vertical.png) 21px center repeat-y;
		width: 100%;
		border-right: 1px solid #e5e5e5;
		tbody {
			tr:nth-last-child(1) {
				border-bottom: 1px solid #e5e5e5;
			}
			tr {
				td:nth-child(1) {
					padding-left: 40px;
				}
				td.departure {
					background: url('../img/details-departure.png') 16px -24px no-repeat; 
				}
				td.interim {
					background: url('../img/ellipse-grey.png') 17px 15px no-repeat; 
				}
				td.arrival {
					background: url('../img/details-arrival.png') 16px 14px no-repeat; 
				}
			}
		}	
		
	}	

	.search-item-mob-normal {
		border-left: 4px solid #09c;	
	}

	.search-item-mob-optimal {
		border-left: 4px solid #3c0;	
	}

	.search-item-mob-action {
		border-left: 4px solid #f33;	
	}

	/* Order */
	.order-caption {
		display: none;
	}

	.order-body {
		flex-flow: column nowrap;
		.details-btn {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-start;
			width: 320px;
			height: 45px;
			border: 1px solid #ccc;
			background-color: #fff;
			padding: 20px;
			font-size: 16px;
			font-family: "ArialBold";
			text-transform: uppercase;
			background-image: url('../img/arrow-down-grey.png');
			background-position: 300px center;
			background-repeat: no-repeat;
		}
		.details-wrap {
			display: none;
			overflow: hidden;
			h1 {
				display: none;
			}
			.order-number {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: flex-start;
				width: 320px;
				height: 45px;
				border: 1px solid #ccc;
				background-color: #fff;
				margin-bottom: 0;
				padding: 20px;
			} 
			.order-details, .order-summ {
				width: 320px;
				margin-bottom: 0;
			}
		}
		.in {
			display: block !important;
		}
		.order-map {
			max-width: 330px;
			margin-top: 20px;
			.carrier {
				max-width: 320px;
				background-position: left top;
			}
			.bus-map {
				flex-flow: column nowrap;
				width: 220px;
				height: 460px;
				padding: 0 20px;
				margin: 0 auto;
				.cabin {
					width: 220px;
					height: 120px;
					background-image: url('../img/cabin-mobile.png');
					background-repeat: no-repeat;
					background-position: 30px center;
				}
				.salon {
					width: 180px;
					height: 300px;
					.salon-row {
						flex-flow: column wrap;
					}
				}
			}
			.legend {
				width: 320px;
				.legend-item {
					.place-free, .place-busy, .place-select {
						width: 16px !important;
						height: 16px !important;
						margin-right: 5px;
					}
				} 
			}
			form {
				.order-group {
					input[type='text'], input[type='number'], input[type='email'] {
						width: 320px;
					}
				}
			}
			.pay-way {
				width: 320px;
				height: 140px;
				.pay-group {
					.pay-method {
						margin-left: 0;
					}
					input[type="radio"] {
						top: 43px;
						left: 3px;

					}
					input[type="radio"] + label.radio-pay span {
						top: 35px;
						right: 14px;
					}
				}
				.pay-way-label-inner {
					margin-left: 37px;
					.pays {
						max-width: 165px !important;
						img {
							margin-bottom: 5px;
							max-width: 130px;
						}
					}
					.pay-cost {
						align-self: flex-end;
					}
				}
			}
			.pay-collapse {
				width: 320px;
				form.pay-form {
					p.pay-note {
						font-size: 13px;
						line-height: 20px;
					}
					.pay-group {
						.home, .flat {
							width: 120px;
						}						
					}
					.date {
						.date-add-pay {
							width: 258px;
							background-position: 220px center;
						}
					}
				}
			}
		}
	}

	.form-accept-wrap {
		.form-accept {
			padding-left: 0;
		}
		.form-accept-1 {
			padding-left: 0;
		}
	}

	.order-body-step-four {
		h1 {
			text-align: center;
		}
		.order-step-four {
			width: 320px;
			padding: 20px 20px 10px 20px;
		}
		.u-can-pay {
			width: 320px;
			padding: 20px;
			.pays {
				text-align: center;
				a {
					img {
						margin: 10px 20px;
					}
				}
			}
		}
	}

	/* Bus list */
	.inner-body-bus-list {
		padding-left: 0;
		padding-right: 0;
	}
	.type-trip {
		padding-left: 0;
		padding-right: 0;
		.type-trip-inner {
			height: 225px;
			.btn-yellow {
				margin-bottom: 15px;
			}
		}
	}
	.trip-params {
		flex-flow: row wrap;
		height: 240px;
		.trip-params-inner {
			.trip-from, .trip-where {
				width: 320px;
			}
			label {
				max-width: 100%;
			}
		}
	}
	.trip-search-wrap {
		margin-top: 25px;
		margin-bottom: 25px;
		form {
			flex-flow: row wrap;
			justify-content: center;
		}
		input[type="text"] {
			width: 320px;
			margin-right: 0;
			margin-bottom: 20px;
		}
		.search-trip {
			width: 320px;
		}
	
	}
	.trip-table-bus {
		display: none;
	}
	.trip-table-bus-mobile {
		display: table;
		width: 100%;
		max-width: 320px;
		border-top: 1px solid #e5e5e5;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
		margin-bottom: -1px;
		thead {
			max-width: 320px;
			tr {						
				background-color: #333;						
				th {
					background-image: url('../img/trip-select.png');
					background-position: 24px center;
					background-repeat: no-repeat;
					height: 40px;
					a {
						color: white;
						font-size: 13px;
						font-weight: 400;
						line-height: 24px;
						padding-left: 45px;
					}
				}
				th:nth-child(2) {
					background-position: 84px center;
					a {
						padding-left: 105px;
					}
				}				
			}
		}
		tbody {
			tr {
				background-color: #fff;
				td {				
					color: black;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
					padding: 10px 10px 10px 10px;
					text-align: left;
					vertical-align: top;
					.trip-btn {
						width: 280px;
						height: 50px;
						font-size: 16px;
					}
					.trip-number {
						margin-top: 10px;
						color: #666;
						font-size: 14px;
						line-height: 17px;
						span {
							color: black;
							font-size: 16px;
						}
					}
					.trip-note {
						color: #282f39;
						font-size: 13px;
						line-height: 15px;
					}
					.trip-info {
						margin-top: 10px;
						font-size: 13px;
						line-height: 15px;
						color: #666;
						span {
							color: black;
						}
					}
				}				
				td:nth-child(4) {
				}
				td:nth-child(5) {
					padding-left: 0;
					text-align: center;
					vertical-align: middle;
				}
			}
			tr:nth-child(1) {
				td:nth-child(1) {
					padding-left: 55px;
					background-image: url('../img/bus.png');
					background-position: 20px 23px;
					background-repeat: no-repeat;
				}
			}
			tr:nth-child(2), tr:nth-child(3) {
				td:nth-child(1) {
					padding: 10px 10px 10px 50px;
				}
			}			
			tr:nth-child(4) {
				border-bottom: 1px solid #e5e5e5;
				td {
					padding: 10px 20px 20px 20px;
				}
			}
		}
	}	

	/* AS */
	.inner-body-as {
		padding: 30px 0;
		.inner-body-as-inner {
			margin-left: 0;
			margin-right: 0;
			h1 {
				margin-top: 0px;
				margin-bottom: 30px;
			}
		}
		.as-inner-body {
			.as-list-inner {
					display: none;
				}
			.as-content {
				.select-as {
					display: block;
					margin-bottom: 30px;
					.as {
						border: 1px solid #e5e5e5;
						padding: 10px; 
						color: #666;
						font-size: 16px;
						font-weight: 400;
						line-height: 24px;
						width: 310px;
						height: 50px;
					}
				}
				max-width: 330px;
				padding-left: 15px;
				h1 {
					line-height: 36px;
				}
				.as-spec-wrap {
					.as-spec-img {
						img {
							margin-left: 10px;
						}						
					}
				}
				.trip-search-wrap {
					form {
						flex-flow: row wrap;
						input[type="text"], .search-trip {
							width: 310px;
						}
						input[type="text"] {
							margin-right: 0;
							background-position: 105px center;
						}
					}
				}
				.trip-table-as {
					display: none;
				}
				.trip-table-as-mobile {
					display: table;
					width: 100%;
					max-width: 320px;
					border-top: 1px solid #e5e5e5;
					border-left: 1px solid #e5e5e5;
					border-right: 1px solid #e5e5e5;
					margin-top: -1px;
					thead {
						max-width: 320px;
						tr {						
							background-color: #333;						
							th {
								background-image: url('../img/trip-select.png');
								background-position: 24px center;
								background-repeat: no-repeat;
								height: 40px;
								a {
									color: white;
									font-size: 13px;
									font-weight: 400;
									line-height: 24px;
									padding-left: 45px;
								}
							}		
						}
					}
					tbody {
						tr {
							background-color: #fff;
							td {				
								color: black;
								font-size: 16px;
								font-weight: 400;
								line-height: 20px;
								padding: 20px 0px 10px 22px;
								text-align: left;
								vertical-align: top;
								.trip-btn {
									width: 270px;
									height: 50px;
									font-size: 16px;
								}								
								.trip-info {
									font-size: 13px;
									line-height: 15px;
									color: #666;
									span {
										color: black;
										font-size: 16px;
									}
								}
							}				
							td:nth-child(4) {
							}
							td:nth-child(5) {
								padding-left: 0;
								text-align: center;
								vertical-align: middle;
							}
						}
						tr:nth-child(1) {
							td:nth-child(1) {
								padding-left: 55px;
								background-image: url('../img/bus.png');
								background-position: 20px 23px;
								background-repeat: no-repeat;
							}
						}								
						tr:nth-child(3) {
							border-bottom: 1px solid #e5e5e5;
						}
					}
				}	
			}
		}
	}	

	/* AS List */
	.as-search-wrap {		
		input[type="text"], .search-as {
			width: 310px;
		}
		input[type="text"] {
			margin-bottom: 30px;
		}
	} 
	.inner-body-as-list {
		padding-left: 0;
		padding-right: 0;
	}
	.as-list-wrap {
		padding: 20px 0 20px;
	}
	.as-list {
		ul {
			max-width: 320px;
			max-height: 100%;
			li {
				width: 320px;
				margin-right: 0;
			}
		}
	}

	/* Account */
	.table-account {
		display: none;
	}
	.table-account-mobile {
		display: table;
		width: 100%;
		max-width: 320px;
		margin-bottom: -1px;		
		tbody {
			border: 1px solid #e5e5e5;
			tr {
				background-color: #fff;
				td {				
					color: black;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
					padding: 10px;
					text-align: left;
					vertical-align: top;
					.trip-btn {
						width: 280px;
						height: 50px;
						font-size: 16px;
					}
				}
				td:nth-child(1) {
						color: #999999;
						font-size: 13px;
				}
			}
			tr:nth-child(1) {
				td:nth-child(2) {
					a {
						background: url('../img/invoice.png') left center no-repeat;
						color: #0099cc;
						font-size: 16px;
						text-decoration: underline;
						padding-left: 25px;
					}
				}
			}
			tr:nth-child(6) {
				td {
					text-align: center;
					.decline {
						color: #0099cc;
						background: transparent;
						font-size: 13px;
						text-decoration: underline;
					}
				}				
			}
		}
	}
}



@media only screen and (max-width: 320px) {
	body {
	}
	.container-fluid {
		padding-left: 10px;
		padding-right: 10px;
		min-width: 300px;
	}
	.container {
		width: 300px;
		max-width: 300px;
		overflow: hidden;
	}
	.laptop-logo {
		width: 80%;
		flex-grow: 0;
	}
	.second-row-wrap-laptop {
		left: 0;
		margin-left: -11px;
		width: 100%;
	}
	.second-row-laptop {
		width: 305px;
		max-width: 305px;
	}
	.cabinet-mobile {
		width: 305px;
		max-width: 305px;
		left: 0;
	}
	.station-item {
		width: 100%;
	}
	.stations .select2-container .select2-selection--multiple {
	    width: 88%;
	}
	.date-wrap,
	.passenger-wrap {
		width: 134px;
		max-width: 134px;
	}
	.date-add {
	    background-position: 100px center;
	}
	.passenger-wrap .select2-container .select2-selection--single {
	    width: 125px;
	}
	.passenger-wrap .select2-container .select2-container--default .select2-container--below .select2-container--focus {
		width: 125px;
	}
	.passenger-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {
		right: 107px;
	}
	.search {
		width: 280px;
	}
	.odds .odds-item .odds-right h2 {
	    font-size: 13px;
	}

	.odds .odds-item {
		width: 300px;
	}
	.odds .odds-item .odds-right a p {
	    font-size: 15px;
	}
	.directions-wrap .directions .directions-inner .directions-body .directions-item {
	    width: 290px;
	}
	.directions-wrap .directions .directions-inner .directions-body .directions-item p {
	    max-width: 55%;
	}
	.offer .offer-inner {
		flex-flow: column wrap;
	}
	.news-wrap .news .news-inner .news-item {
	    max-width: 95%;
	}
	.footer-bottom-wrap .footer-bottom {
	    padding: 15px 10px;
	    height: 370px;
	}
	.footer-bottom-wrap .footer-bottom .footer-bottom-menu .footer-bottom-item-4 {
	    bottom: 30px;
	}
		
}