* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "ArialRegular";		
}

h1 {
	font-family: "ArialBold";
	color: #282f39;
	font-size: 18px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px;
}

h2 {
	font-family: "ArialBold";
	color: white;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 0px;
}

a, a:hover, a:focus {	
	text-decoration: none;
	transition: color .5s ease;
}

.btn.focus, .btn:focus, .btn:hover {
	opacity: 0.7;
}

ul {
	li {
		list-style-type: none;
	}
}

.container {
	width: 940px;
	max-width: 940px;
	padding-left: 0px;
	padding-right: 0px;
}

/* navigation */
.navbar {
	position: relative;
	margin-bottom: 0px;
	border: none;
}
.first-row-wrap {
	background-color: #09c;		
}

.first-row-wrap-fix {
	background-color: #09c;
	position: fixed;
	z-index: 1000;
	top: 60px;
	width: 100%;
}

.first-row {
	height: 57px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 0px;
	padding-right: 0px;
	a {
		color: white;
		font-weight: 400;
		line-height: 20px;
	}
	a:hover, a:focus {
		color: black;
	}
}

.top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 2;
	margin-bottom: 0;
	margin-right: 40px;
	li {
		margin-right: 20px;
		a {
			color: white;
			font-size: 15px;
		}
	}
}



.phone {
	flex-grow: 1;
	a {
		background-image: url('../img/phone.png');
		background-position: left center;
		background-repeat: no-repeat;
		font-size: 18px;
		padding-left: 20px;
		margin-right: 40px;
	}
}

.cabinet {
	flex-grow: 1;
	a {
		background-image: url('../img/cabinet.png');
		background-position: left center;
		background-repeat: no-repeat;
		color: white;
		font-size: 15px;
		padding-left: 20px;
		margin-right: 40px;
	}
}

.language {	
	select {
		border: 1px solid #fff200;
		border-radius: 3px;
		background-color:  #09c;
		color: white;
		font-size: 15px;
		font-weight: 700;

	}
}

.second-row-wrap {
	position: absolute;
	z-index: 1000;
	top: 58px;
	left: 50%;
    margin-left: -470px;
    padding-left: 0;
    padding-right: 0;
}

.second-row {	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 120px;
	padding-left: 0;
    padding-right: 0;
	.logo-top-big {
		margin-right: 90px;
	}
}

.logo-top-big-fix {
	display: none !important;
}

.second-row-wrap-fix {
	position: fixed;
	z-index: 1000;
	top: 117px;
	left: 0;
	margin-left: 0;
	width: 100%;
	background-image: url('../img/second-row-bg.png');
	background-position: center;
	border-bottom: 7px solid #fff200;
	height: 125px;
}

.top-menu-second {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	li {
		a {
			color: #fff;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			padding: 5px 20px;
			border: 1px solid transparent;
			transition: color .5s ease;
		}
		a:hover, a:focus {
			border: 1px solid #fff200;
			color: #fff200;
		}
	}
}


.third-row {
	position: absolute;
	z-index: 1000;
	left: 50%;
    margin-left: -470px;
	top: 300px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.third-row-inner {
	position: absolute;
	z-index: 1000;
	left: 50%;
    margin-left: -470px;
	top: 175px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.third-row-wrap-fix {
	background-color: #09c;
	height: 60px;
	position:fixed;
    top:0; 
    z-index: 1000;	
    width:100%;
}

.third-row-fix {
	position:fixed;
    top:0; z-index: 1000;
	left: 50%;
    margin-left: -470px;
    display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding-top: 15px;
	width: 980px !important;
	max-width: 980px !important;	
}

.third-row-inner-fix {
	position:fixed;
    top:0; z-index: 1000;
	left: 50%;
    margin-left: -470px;
    display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding-top: 15px;
	width: 980px !important;
	max-width: 980px !important;	
}

.bus-search {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: center;
	width: 940px;
	height: 65px;
}

.stations {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.reverse {
	width: 24px;
	height: 25px;
	background-image: url('../img/reverse.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 1px solid transparent;
	margin: 0 10px;
}

input[type="text"], input[type="number"], input[type="email"] {
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	padding: 6px 10px; 
	-webkit-appearance: none;
	  /* for FF */
	-moz-appearance: none;
	  /* for IE */
	-ms-appearance: none;
	appearance: none;	
}

::-webkit-input-placeholder {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

:-ms-input-placeholder {  
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.station {
	width: 223px;
	height: 50px;
	color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.station-fix {
	width: 185px !important;
	height: 35px !important;
	color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.date-wrap {
	width: 135px;
}

.date {
	width: 100% !important;
	max-width: 100% !important;
}

.date-add {
	width: 135px;
	height: 50px;
	padding-right: 20px;
	background-image: url('../img/date.png');
	background-position: 100px center;
	background-repeat: no-repeat;
	color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.date-add-fix {
	width: 125px;
	height: 35px;
	padding-right: 20px;
	background-image: url('../img/date.png');
	background-position: 95px center;
	background-repeat: no-repeat;
	color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input-group-addon {
	position: absolute;
	right: 110px;
	bottom: -5px;
	visibility: hidden;
}

.datetimepicker {
	background-color: #f1f2f3;
	padding: 0;
	border-radius: 6px;
	.datetimepicker-days {
		.table-condensed {
			thead {
				background-color: #09c;				
				tr {
					th {
						border-radius: 0;
						color: white;
					}
					th.prev {
						border-radius: 6px 0 0 0;
					}
					th.next {
						border-radius: 0 6px 0 0;
					}
					th:hover, th:focus {
						background-color: #09c;
						color: white;
					}
				} 
			}
			tbody {
				tr {
					td.today {
						background-color: #09c;
						color: white;
						background-image: none;
					}
					td.active {
						background-color: #f1f2f3;
						color: black;
						border: 1px solid #09c;
						background-image: none;
						border-radius: 4px;
					}
				}
			}
		}
	}
}

[class*=" datetimepicker-dropdown"]:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #09c;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
}

[class*=" datetimepicker-dropdown"]:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #09c;
	position: absolute;
}

[class*=" datetimepicker-dropdown-top"]:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #09c;
	border-top-color: rgba(0, 0, 0, 0.2);
	border-bottom: 0;
}

[class*=" datetimepicker-dropdown-top"]:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #09c;
	border-bottom: 0;
}
.passenger-wrap {
	width: 135px;
}
.passenger {
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	padding: 10px; 
	color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    height: 50px;
}

.passenger-wrap-fix {
	.select2-container .select2-selection--single {
	 	height: 35px;
	 	padding-top: 3px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		top: 5px;
	}
}

.select2-container .select2-selection--single {
	height: 50px;
	padding-top: 10px;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 11px;
}

.select2-search--dropdown {
	display: none;
}

.select2-dropdown {
	width: 100%;
}

.select2-container--default .select2-results {
	
}

.select2-container--default .select2-results>.select2-results__options {
	
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #09c !important; 
}
.select2-container--default .select2-results__option[aria-disabled=true] {
	
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #fff;
}

.select2-container--default .select2-results__option[aria-selected=false] {
	
}

.stations {
	.select2-container .select2-selection--multiple {
		width: 223px;
		height: 50px;
		padding-top: 10px;
		border-radius: 6px;
		.select2-selection__rendered {
			font-size: 16px;
			padding-left: 10px;
		}
		.select2-selection__choice {
			background-color: transparent;
			border: 1px solid transparent;
			margin-top: 3px;
		}		
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
		color: transparent;
	}
	.select2-container--default .select2-search--inline .select2-search__field {
		margin-top: 4px;
	}	
}

.stations-fix {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	.select2-container {
		width: 180px !important;
	}

	.select2-container .select2-selection--multiple {
		width: 185px !important;
		height: 35px;
		border-radius: 6px;
		.select2-selection__rendered {
			font-size: 16px;
		}
		.select2-selection__choice {
			background-color: transparent;
			border: 1px solid transparent;
			margin-top: 6px;
		}		
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
		color: transparent;
	}
}

.passenger-fix {
	width: 125px;
	height: 35px;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	padding: 5px; 
	color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.search {
	background-image: url('../img/search.png');
	background-position: 10px center;
	background-repeat: no-repeat;
	width: 140px;
	height: 50px;
}

.search-fix {
	width: 110px;
	height: 33px;
	background-image: url('../img/search.png');
	background-position: 5px center;
	background-repeat: no-repeat;
	font-size: 17px;
	line-height: 25px;
	padding: 3px 5px 3px 30px;
	margin-left: 5px;
}

.search.focus, .search:focus, .search:hover, .search-fix.focus, .search-fix:focus, .search-fix:hover {
	color: white;
}

.autosuggest, .sandwich, .logo-top-small {
	display: none;
}

.logo-top-small-fix {
	display: block;
	margin-bottom: 15px;
	margin-right: 5px;

}

.sandwich {
	background-image: url('../img/sandwich.png');
	width: 32px;
	height: 22px;	
}

.sandwich-fix {
	display: block;
	background-image: url('../img/sandwich.png');
	background-color: transparent;
	width: 32px;
	height: 22px;
	border: none;
	margin-left: 15px;
	margin-bottom: 15px;
}

.carousel-wrap {
	background-color: black;
	padding: 0px;
	overflow: hidden;
}

.carousel {
	padding-left: 0px;
	padding-right: 0px;
	height: 375px;
	display: flex;
	justify-content: center;
	align-items: center;
	.carousel-control {
		.control-right {
			margin-right: -70px;
			top: 204px;
			background-image: url('../img/control-right.png');
			background-position: center;
			width: 9px;
			height: 15px;
			color: transparent;
		}
		.control-left {
			margin-left: -70px;
			top: 204px;
			background-image: url('../img/control-left.png');
			background-position: center;
			background-repeat: no-repeat;
			width: 9px;
			height: 15px;
			color: transparent;
		}
	}
	.carousel-inner {
		.item {
			.slide-item {
				display: flex;
				justify-content: center;
				background-image: url('../img/slide-01.png');
				background-position: center;
				height: 375px;
				h1 {
					margin-top: 150px;
					color: #ccc;
					line-height: 24px;
					text-align: center;
					a {
						color: #09c;
					}
					a:hover, a:focus {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.note-wrap {
	background-color: black;
	.note {
		display: flex; 
		align-items: center;
		justify-content: center;
		height: 37px;
		p {
			color: #999;
			a {
				color: #09c;
				text-decoration: underline;
			}
			a:hover, a:focus {
				text-decoration: none;
			}
		}
	}
}

.odds {
	padding: 25px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.odds-item {
		display: flex;
		width: 460px;
		height: 180px;
		.odds-left {
			flex-grow: 1;			
		}
		.odds-right {
			background-color: #09c;
			padding: 20px;
			flex-grow: 2;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			h2 {
				text-transform: none;
				line-height: 22px;
				font-weight: 500;
			}
			a {
				p {
					border: 1px solid #fff200;
					border-radius: 6px;
					color: #fff200;
					padding: 10px 15px;
				}
			}
			a:hover, a:focus {
				opacity: 0.7;
			}
		}
	}
	.odds-item-1 {
		margin-right: 20px;
	}
}

.directions-wrap {
	background-color: #f1f2f3;
	padding-top: 40px;
	padding-bottom: 60px;
	.directions {
		display: flex;
		justify-content: space-between;
		padding: 0px;
		.directions-inner {
			h1 {
				color: black;
				line-height: 24px;
				padding-left: 30px;
				background-image: url('../img/mark.png');
				background-repeat: no-repeat;
				background-position: left 5px;
				height: 56px;
				margin-bottom: 20px;
				margin-top: 0;
			}
			.directions-body {
				.directions-item {
					width: 460px;
					height: 65px;
					padding: 20px 20px 20px 60px;
					border: 1px solid #e5e5e5;
					background-color: white;
					background-image: url('../img/bus.png');
					background-repeat: no-repeat;
					background-position: 30px center;
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					align-items: center;
					p {
						color: #282f39;
						white-space: pre-wrap;
						max-width: 60%;
					}
				}
			}
		}
		.directions-inner-1 {
			margin-right: 16px;
		}
	}	
}

.btn-yellow {
	background-color: #fff200;
	color: #282f39;
	border-radius: 0px;
	font-family: "ArialBold";
}

.btn-yellow:hover, .btn-yellow:focus {
	opacity: 1;
	color: grey;
}

.offer {
	padding: 40px 0px;
	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
	.offer-inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.offer-item {
			width: 220px;
			height: 200px;
			position: relative;
			margin-bottom: 60px;
			a:hover, a:focus {
				opacity: 0.7;
			}
			.offer-body {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: center;
				background-color: #09c;
				min-height: 57px;
				h2 {
					color: white;
					text-align: center;
					margin: 0px;
					line-height: 18px;
				}
			}
			.btn-yellow {
				position: absolute;
				left: 58px;
				bottom: -30px;
			}
		}
	}
}

.news-wrap {
	background-color: #f1f2f3;
	.news {
		padding: 40px 0px;
		h1 {
			margin-bottom: 40px;
			text-align: center;
		}
		.news-inner {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			.news-item {
				max-width: 270px;
				.news-date {
					font-size: 14px;
					color: #666;
					line-height: 24px;
					margin-bottom: 15px;
				}
				.news-caption {
					font-size: 18px;
					color: #22b7f1;
					text-align: left;
					line-height: 18px;
				}
				.news-body {
					max-height: 90px;
					color: black;
					line-height: 18px;
					margin: 15px 0px;
					overflow: hidden;
					text-overflow: ellipsis; 
				}
				.news-link {
					color: #22b7f1;
					font-size: 16px;
					line-height: 24px;
				}
				a:hover, a:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

.map {
	padding-top: 40px;
	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
}

.footer-top-wrap {
	background-color: #09c;
	.footer-top {
		height: 106px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.footer-top-logo {
			flex-grow: 1;
			margin-right: 19px;
		}
		ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 0px;
			flex-grow: 2;
			li {
				margin-right: 40px;
				a {
					color: #fff;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					text-transform: uppercase;
				}
				a:hover, a:focus {
					color: #fff200;
				}
			}
		}
	}
}

.footer-bottom-wrap {
	background-image: url('../img/footer-bg.png');
	background-position: center;
	background-repeat: repeat-x;	
	.footer-bottom {
		padding: 40px 0px;
		height: 207px;
		.footer-bottom-menu {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			margin-bottom: 40px;
			.footer-bottom-item {
				a {
					color: #ccc;
				}
				a:hover, a:focus {
					color: #fff200; 
				}
			}
			.footer-bottom-item-2 {
				width: 115px;
			}
			.footer-bottom-item-3 {
				position: relative;
				right: 21px;
			}
			.footer-bottom-item-4 {
				position: relative;
				right: 21px;
			}
			ul {
				li {
					a {
						font-size: 13px;
						font-weight: 400;
						line-height: 16px;
					}
				}
			}
			p {
				color: #ccc;
				font-size: 13px;
				font-weight: 400;
				line-height: 16px;
			}
			p.footer-caption {
				font-family: "ArialBold";
			}
		}
		.counters {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			a {
				color: #666;
			}
		}		
	}
}

.copyright {
	background-color: black;
	.copyright-inner {
		display: flex;
		align-items: center;
		height: 35px;
			p {
			color: #666;
			font-size: 10px;
			line-height: 12px;
			a {
				color: #666;
			}
		}
	}	
}

#map {
	height: 100%;
	min-height: 400px;
	#content {
		background-color: #2cbaf0;
		border: 40px solid #2cbaf0;
		#bodyContent {
			display: flex;
			.bodyContentImg {
				flex-grow: 1;
			}
			.bodyContentTxt {
				flex-grow: 2;
				background-color: #08252f;
				padding: 15px;
				h1 {
					color: #fff200;
				}
				p {
					color: #f1f2f3;
				}
			}
		}
	}
}
.enter {
	z-index: 1150;
	&-content {
		border-radius: 0;
		max-width: 690px;
	}
	&-header {
		border-bottom: 0;
		text-align: center;		
	}
	&-close {
		width: 27px;
		height: 27px;
		background: url('../img/modal-close.png') center no-repeat !important;
		opacity: 1;
		margin-top: -50px !important;
		margin-right: -15px;

	}
	&-title {
		color: #282f39;
		font-family: "ArialBold";
		font-size: 18px;
		text-transform: uppercase;
		padding-top: 50px;
		padding-bottom: 10px;
	}
	&-body {
		padding: 15px 60px 90px;
		form {
			.form-group {
				margin-bottom: 25px;
				input[type="text"],
				input[type="email"] {
					width: 100%;
					height: 45px;

				}
				input[type="checkbox"] {
					width: 150px;
					height: 24px;
					position: relative;
					z-index: 1000;
					left: 0px;
					bottom: 0px;
					opacity: 0;
					cursor: pointer;
				}
				label {
				    font-size: 14px;
				    position: relative;
				    left: -150px;
				    font-weight: normal;
				}
				input[type="checkbox"] + label span {
				    display: inline-block;
				    width: 13px;
				    height: 13px;
				    background: url("../img/checkbox-sprite.png");
				    background-position: 0 -13px;
				    margin-right: 10px;
				    top: 1px;
				    position: relative;
				    pointer-events: none;
				}
				input[type="checkbox"]:checked + label span {
				   background-position: -13px 0;    
				}			
			}
		}
	}
	&-btn {
		width: 100%;
		height: 45px;
		background: url('../img/bus-white.png') 40% center no-repeat;
		margin-bottom: 20px;
	}
}
.other-modals-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
	a {
		color: #0c78be;
		font-size: 14px;
		font-weight: 400;
	}
}
.socials {
	.btn {
		width: 100%;
		height: 45px;
		border-radius: 6px;
		color: white;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.btn-facebook {
		box-shadow: inset 0px -3px 1px #2e3192;
		background-color: #405d9b;
	}
	.btn-google {
		box-shadow: inset 0px -3px 1px #9e0b0f;
		background-color: #d73d32;
	}
}
/* Inners */
.menu-lining {
	background-image: url('../img/slide-01.png');
	background-position: center;
	background-repeat: repeat-x;
	height: 195px;
	border-bottom: 7px solid #fff200;
}

/*search result */
.inner-body-search {
	padding: 25px 0;
}

.status-bar {
	height: 7px;
	background-color: #fff200; 
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 0px;
    padding-left: 0px;
    width: 100%;
	.status {		
		width: 70%;
		background-image: url("../img/bus.png");
		background-position: right center;
		background-repeat: no-repeat;
		height: 19px;
		display: flex;
		align-items: center;
		padding-right: 15px;
		position: relative;
		bottom: 6px;
    	padding-left: 0px;
		.status-line {
			background-color: #3c0;
			height: 7px;
			width: 100%;
		}
	}
}

.search-caption {	
	background-color: #fff;
	margin-top: 25px;
	margin-bottom: 25px;
	tbody {
		tr {
		border: 1px solid #e5e5e5;			
			td {
				height: 42px;
				a {
					color: black;
					font-size: 13px;
					font-weight: 400;
					line-height: 24px;
					padding-left: 45px;
				}
			}
			td:nth-child(1), td:nth-child(2), td:nth-child(3) {
				background-image: url('../img/search-select.png');
				background-position: 25px center;
				background-repeat: no-repeat;
			}
			td:nth-child(2) {
				background-position: 55px center;
				a {
					padding-left: 75px;
				}
			}
		}
	}
}
.search-item-mob-wrap {
	display: none;
}

.search-item-wrap {
	margin-bottom: 25px;
}
.search-item {
	border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #fff;
	thead {
		tr {
			border-bottom: 1px solid #e5e5e5;
			th {
				height: 42px;
			}
			th:nth-child(1) {
				background-image: url('../img/bus.png');
				background-repeat: no-repeat;
				background-position: 20px center;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				padding-left: 50px;
			}
			th:nth-child(2) {
				color: #282f39;
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				padding-left: 20px;
			}
			th:nth-child(3), th:nth-child(4) {
				color: #666;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				span {
					color: black;
				}
			}
		}
	}
	tbody {		
		tr {
			td {
				font-size: 13px;
				font-weight: 400;
				color: black;
				line-height: 24px;
				padding: 30px 20px 10px;
				.time-search {
					font-size: 26px;
					margin-bottom: 15px;
					text-align: left;
				}
				.date-search {
					color: #666;
					font-size: 16px;
				}
				.time-trip {
					font-size: 16px;
					font-weight: 700;					
				}
				.type-run {
					color: #666;
					font-size: 13px;
				}
			}
			td:nth-child(1), td:nth-child(3) {
				min-width: 120px;
				text-align: center;
			}
			td:nth-child(5) {
				min-width: 150px;
			}
			td:nth-child(6) {
				position: relative;
				p {
					font-weight: 700;
				}
				.discount {
					position: absolute;
					top: 9px;
					left: 30px;
					color: #f33;
				}
				.old-price {
					position: absolute;
					top: 9px;
					left: 95px;
					color: #666;
					text-decoration: line-through;
				}
				button {
					width: 140px;
					height: 50px;
				}
			}
		}
	}
}
.search-details {
	border-top: 0;
	background: url('../img/dashed-vertical.png') 169px center repeat-y;
	tbody {
		tr {
			td {
				vertical-align: top;
				padding: 10px 20px;
			}
			td:nth-child(1),
			td:nth-child(4) {
			    color: #666;
				font-size: 16px;
				text-align: left;
			}
			td:nth-child(2) {
				color: #000000;
				font-size: 15px;
				font-family: "ArialBold";
				padding: 10px 20px 10px 45px;			
			}
			td:nth-child(2).departure {
				background: url('../img/details-departure.png') 3px -22px no-repeat; 
			}
			td:nth-child(2).interim {
				background: url('../img/ellipse-grey.png') 4px 17px no-repeat; 
			}
			td:nth-child(2).arrival {
				background: url('../img/details-arrival.png') 3px 16px no-repeat; 
			}
			td:nth-child(3) {
				font-size: 15px;
				color: #333333;
				text-align: left;
				padding: 10px 20px 10px 0px;
			}			
		}
		tr:nth-child(1) {
			td:nth-child(4) {
				background: url('../img/info.png') left 15px no-repeat;
				max-width: 270px;
			}
		}
	}
}
.search-details-btn-wrap {
	border-top: 0;
	tbody {
		tr {
			border-bottom: 1px solid #e5e5e5;
			td {
				padding: 0;
				.search-details-btn {
					color: #0099cc;
					font-size: 13px;
					background: url('../img/arrow-down-grey.png') left center no-repeat;
					padding-left: 30px;
					border: 0;
					outline: none;
				}
				.search-details-btn-hide {
					color: transparent;
					background: url('../img/arrow-up-grey.png') center no-repeat;
					padding-left: 0px;
					border: 0;
					outline: none;
				}
			}
		}
	}	
}

.search-item-normal {	
	border-left: 4px solid #09c;
}

.search-item-optimal {
	border-left: 4px solid #3c0;	
}

.search-item-action {
	border-left: 4px solid #f33;	
}

.btn-blue {
	font-weight: 700;
	background-color: #09c;
	border-radius: 6px;
	color: white;
	font-size: 20px;
	font-weight: 700;
	box-shadow: inset 0px -3px 1px #069;
}

.btn-blue:hover, .btn-blue:focus {
	color: white;
}

.btn-green {
	background-color: #3c0;
	border-radius: 6px;
	color: white;
	font-size: 20px;
	font-family: "ArialBold";
	box-shadow: inset 0px -3px 1px #090;
}

.btn-green:hover, .btn-green:focus {
	color: white;
} 

.btn-red {
	font-weight: 700;
	background-color: #f33;
	border-radius: 6px;
	color: white;
	font-size: 20px;
	font-weight: 700;
	box-shadow: inset 0px -3px 1px #c00;
}

.btn-red:hover, .btn-red:focus {
	color: white;
} 

/* Order */
.inner-body-order {
	background-color: #fdfeff;
	padding-left: 0px;
	padding-right: 0px;
}

.order-caption {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	height: 155px;
	position: relative;
	padding-top: 25px;
	.order-item {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		height: 150px;
    	margin-top: 50px;
		.order-item-top {
			width: 36px;
			height: 36px;
			border-radius: 18px;
			line-height: 33px;
			border: 2px solid #ccc;
			font-size: 16px;
			color: #383737;
			background-color: #fdfeff;
			position: relative;
			z-index: 1;
			padding-left: 11px;
			margin-bottom: 20px;
		}
		.order-item-top-active {			
			background-color: #09c;
			border: 2px solid #09c;			
			color: #fdfeff;
		}
		.order-item-bottom {
			font-size: 16px;
			color: #666;
			text-align: center;			
		}
		.order-item-bottom-active {
			color: #09c;
		}
	}
	.order-status {
		position: absolute;
		width: 535px;
		height: 2px;
		left: 187px;
		bottom: 96px;
		background-color: #ccc;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		.order-status-active {			
			height: 4px;
			background-color: #09c;
		}
		.order-status-active-1 {
			width: 17%;
		}
		.order-status-active-2 {
			width: 50%;
		}
		.order-status-active-3 {
			width: 85%;
		}
	}	
}

.order-body-wrap {
	background-color: #f1f2f3;
}

.order-body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 25px 0;
	position: relative;	
	.details-btn {
		display: none;
	}
	.details-wrap {
		flex-grow: 3;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		margin-right: 20px;
		h1 {
			font-family: "ArialBold";
			color: #282f39;
			margin-bottom: 25px;
		}
		h1.caption-step-3 {
			margin-bottom: 15px;
		}
		.order-number {
			margin-bottom: 15px;
			text-align: center;
		}
		.order-details {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			width: 220px;
			height: 125px;
			border: 1px solid #ccc;
			background-color: #fff;
			padding: 20px;
			margin-bottom: 10px;
			.details-caption {
				font-size: 13px;
				color: #09c;
				margin-bottom: 8px;				
			}
			.details-city {
				font-size: 16px;
				color: black;
				background-image: url('../img/city-mark-grey.png');
				background-repeat: no-repeat;
				background-position: left center;
				padding-left: 25px;
			}
			.details-time {
				font-size: 26px;
				color: black;
				background-image: url('../img/time-mark-grey.png');
				background-repeat: no-repeat;
				background-position: left center;
				padding-left: 25px;
			}
			.details-date {
				font-size: 15px;
				color: #ccc;
				background-image: url('../img/date-mark-grey.png');
				background-repeat: no-repeat;
				background-position: left center;
				padding-left: 25px;
			}
		}
		.order-summ {
			width: 220px;
			height: 70px;
			background-color: #fff200;
			padding: 10px 20px;
			p {
				color: #282f39;
				font-size: 13px;
				span {
					font-size: 26px;
					font-family: "ArialBold";
				}
			}
		}
	}
	.order-map {
		flex-grow: 4;
		display: flex;
		flex-flow: column nowrap;
		position: relative;
		margin-top: 50px;
		h2 {
			color: black;
			margin-bottom: 15px;
		}
		.carrier {
			color: #666;
			font-size: 12px;
			padding-right: 30px;
			background-image: url('../img/info.png');
			background-repeat: no-repeat;
			background-position: left center;
			padding-left: 20px;
			margin-bottom: 15px;
		}
		.bus-map {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			width: 460px;
			height: 200px;
			background-color: #fff;
			border: 1px solid #ccc;
			padding: 20px 40px 20px 0px;
			margin-bottom: 25px;
			.cabin {
				height: 100%;
				width: 120px;
				background-image: url('../img/cabin.png');
				background-repeat: no-repeat;
				background-position: center bottom;
			}
			.salon {
				display: flex;
				flex-flow: column nowrap;
				.salon-row {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-around;
					align-items: center;
					a {
						.seat {
							width: 32px;
							height: 32px;
							color: #fff;
							background-color: #a5a5a5;
							border-radius: 5px;
							margin: 2px;
							padding: 6px 7px;
						}
						.seat:hover, .seat:active {
							background-color: #3c0;
						}
						.seat-no {
							background-color: #fff;
						}
						.seat-no:hover, .seat-no:focus {
							background-color: transparent;
						}
						.seat-busy {
							background-color: #069;
						}
						.seat-busy:hover, .seat-busy:focus {
							background-color: #069;
						}
					}
				}
				.pass {
					height: 20px;
					width: 100%;
				}
			}
		}
		.legend {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: center;
			width: 460px;
			.legend-item {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
				font-size: 13px;
				color: #282f39;
				.place-free {
					width: 18px;
					height: 18px;
					border-radius: 5px;
					background-color: #a5a5a5;
					margin-right: 15px;
				}
				.place-busy {
					width: 18px;
					height: 18px;
					border-radius: 5px;
					background-color: #069;
					margin-right: 15px;
				}
				.place-select {
					width: 18px;
					height: 18px;
					border-radius: 5px;
					background-color: #3c0;
					margin-right: 15px;
				}
			}
		}
		form {
			.order-group {
				label {
					margin-bottom: 10px;
				}
				input[type='text'], input[type='number'], input[type='email'] {
					width: 225px;
					height: 50px;
					margin-bottom: 10px;
					margin-right: 20px;
				}
				input[type='email'] {
					width: 365px;
				}
				input[type="radio"] {
					width: 13px;
					height: 13px;
					position: relative;
					z-index: 1000;
					opacity: 0;
				}

				label {
				    cursor: pointer;
				    font-family: Bold;
				    font-size: 16px;
				}
				input[type="radio"] + label span {
				    display: inline-block;
				    width: 13px;
				    height: 13px;
				    background: url("../img/checkbox-sprite.png");
				    background-position: 0 -13px;
				    margin-right: 5px;
				    top: 2px;
				    right: 12px;
				    position: relative;
				}
				input[type="radio"]:checked + label span {
				   background-position: -13px 0;    
				}			
				input[type="checkbox"] {
					width: 13px;
					height: 13px;
					position: relative;
					z-index: 1000;
					opacity: 0;
				}
				label {
				    cursor: pointer;
				    font-family: Bold;
				    font-size: 16px;
				}
				input[type="checkbox"] + label span {
				    display: inline-block;
				    width: 13px;
				    height: 13px;
				    background: url("../img/checkbox-sprite.png");
				    background-position: 0 -13px;
				    margin-right: 5px;
				    top: 2px;
				    right: 12px;
				    position: relative;
				}
				input[type="checkbox"]:checked + label span {
				   background-position: -13px 0;    
				}			
			}
		}	
		.pay-way {
			width: 700px;
			height: 100px;
			border: 1px solid #ccc;
			background-color: #fff;
			padding: 15px;
			display: flex;
			flex-flow: column nowrap;
			.pay-group {
				display: flex;
				flex-flow: row nowrap;
				.pay-method {
					margin-left: 10px;
				}	
				input[type="radio"] {
					width: 16px;
					height: 16px;
					position: relative;
					z-index: 1000;
					top: 22px;
					left: 8px;
					opacity: 0;
				}

				label.radio-pay {
				    cursor: pointer;
				    font-family: Bold;
				    font-size: 14px;
				    margin-top: 12px;
				}
				input[type="radio"] + label.radio-pay span {
				    display: inline-block;
				    width: 16px;
				    height: 16px;
				    background: url("../img/radio-sprite.png");
				    background-position: 0 -16px;
				    margin-right: 5px;
				    top: 13px;
				    right: 9px;
				    position: relative;
				}
				input[type="radio"]:checked + label.radio-pay span {
				   background-position: -16px 0;    
				}			
			}			
			.pay-way-label-inner {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;	
				margin-left: 50px;
				.pays {
					img {
						margin-right: 20px;
					}
				}
				.pay-cost {
					position: relative;
					bottom: 23px;
				}			
			}
		}
		.pay-collapse {
			width: 700px;
			border: 1px solid #ccc;
			background-color: #fff;
			padding: 30px;			
			form.pay-form {
				display: flex;
				flex-flow: column nowrap;
				p.pay-note {
					margin-bottom: 30px;
					span {
						font-family: "ArialBold";
					}
				}
				.pay-group {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					align-content: space-between;
					min-height: 140px;
					.select2-container .select2-selection--single {
						margin-bottom: 20px !important;
					} 
					.city {
						width: 650px;
						height: 50px;
						margin-bottom: 20px;
					}
					.street {
						width: 400px;
						height: 50px;
					}
					.home, .flat {
						width: 110px;
						height: 50px;
					}							
				}
				.pay-group-reciever {
					display: flex;
					flex-flow: row wrap;
					align-content: space-between;
					.family {
						width: 222px;
						height: 50px;
						margin-bottom: 20px;
						margin-right: 20px;			
					}
					.name {
						width: 222px;
						height: 50px;
					}
					.phone-form {
						width: 222px;
						height: 50px;
					}
				}
				.date {
					margin-left: 0;
					.date-add-pay {
						width: 222px;
						height: 50px;
						padding-right: 20px;
						background-image: url('../img/date.png');
						background-position: 186px center;
						background-repeat: no-repeat;
						color: #666;
					    font-size: 16px;
					    font-weight: 400;
					    line-height: 24px;
					    color: #666;
					    font-size: 16px;
					    font-weight: 400;
					    line-height: 24px;
					    margin-bottom: 30px;
					}
					.input-group-addon {
						right: 0;
						left: 1px;
						bottom: 25px;
					}	
				}
				.btn-green {
					width: 190px;
					height: 50px;
					align-self: center;
					font-size: 17px;
				}
				label {
					padding-left: 0;
					margin-bottom: 15px;
				}
			}
		}		
	}	
	.order-map-3 {
		margin-top: 82px;
	}
	.amount-seats {
		background: #fff;
		border: 1px solid #ccc;
		padding: 20px;
		max-width: 460px;
		p {
			font-size: 15px;
		}
		input[type="text"] {
			margin-top: 10px;
		}
		p.booked {
			font-size: 20px;
			color: #666666;
			margin-top: 30px;
		}
	}
}
.order-body-step-four {
	flex-flow: column nowrap;
	align-items: center;
	h1 {
		margin-bottom: 25px;
	}
	.order-step-four {
		background-color: #fff;
		border: 1px solid #ccc;	
		padding: 40px 40px 10px 40px;
		width: 620px;
		p {
			line-height: 20px;
			margin-bottom: 30px;
		}
		span, p.order-step-four-caption {
			font-family: "ArialBold";
		}
	}
	.u-can-pay {
		padding: 40px;
		width: 620px;
		p {
			margin-bottom: 20px;
		}
		a {
			img {
				margin-right: 20px;
			}
		}
		a:hover, a:focus {
			opacity: 0.7;
		}
	}
}

.form-accept-wrap {
	background-color: #fff;
	padding-left: 60px;
	.form-accept {
		display: flex;
		flex-flow: column nowrap;	
		width: 460px;
		margin-top: 30px;
		margin-bottom: 30px;
		.accept-group {
			display: flex;
			input[type="checkbox"] {
				width: 24px;
				height: 24px;
				position: relative;
				z-index: 1000;
				left: 13px;
				bottom: 5px;
				opacity: 0;
			}
			label {
			    cursor: pointer;
			    font-family: "ArialBold";
			    font-size: 16px;
			}
			input[type="checkbox"] + label span {
			    display: inline-block;
			    width: 13px;
			    height: 13px;
			    background: url("../img/checkbox-sprite.png");
			    background-position: 0 -13px;
			    margin-right: 10px;
			    top: 1px;
			    position: relative;
			}
			input[type="checkbox"]:checked + label span {
			   background-position: -13px 0;    
			}			
		}
		.btn-green {
			align-self: center;
			width: 190px;
			height: 60px;
			font-size: 17px;				
		}
	}
	.form-accept-1 {
		padding-left: 165px;
	}
}

/* AS List */
.inner-body-as-list {
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.map {
	padding-left: 0;
	padding-right: 0;
}

.as-search-wrap {
	position: absolute;
	z-index: 900;
	top: 135px;
	left: 50%;
	margin-left: -470px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	input[type="text"] {
		border: 1px solid #e5e5e5;
		border-radius: 6px;
		padding: 6px 10px; 
		-webkit-appearance: none;
		  /* for FF */
		-moz-appearance: none;
		  /* for IE */
		-ms-appearance: none;
		appearance: none;
		width: 760px;
		height: 50px;
		margin-right: 20px;	
	}
	.search-as {
		width: 140px;
		height: 50px;
		background-image: url('../img/mark-white.png');
		background-position: 15px center;
		background-repeat: no-repeat;
	}

}

.as-list-wrap {
	background-color: #f1f2f3;
	padding: 60px 0 30px;
}

.as-list {
	ul {
		max-height: 390px;
		max-width: 940px;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		li {
			width: 300px;			
			font-size: 16px;
			line-height: 36px;
			margin-right: 20px;
			a {
				color: #333;
				padding-left: 30px;
			}			
		}
		li:hover, li:focus {			
			background-color: #30bbf0;
			a {
				color: #fff;
			}
		}
	}
}

/* AS */
.inner-body-as {
	padding: 40px 0;
	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
	.as-inner-body {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		.as-list-inner {
			flex-grow: 1;
			background-color: #f1f2f3;
			margin-right: 20px;
			padding: 25px 0; 
			ul {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				li {
					width: 220px;			
					font-size: 16px;
					line-height: 36px;
					a {
						color: #333;
						padding-left: 30px;
					}			
				}
				li:hover, li:focus {			
					background-color: #30bbf0;
					a {
						color: #fff;
					}
				}
			}
		}
		.as-content {
			flex-grow: 2;
			max-width: 700px;
			.select-as {
				display: none;
			}
			h1 {
				color: #09c;
				font-size: 32px;	
				text-align: left;
				margin-bottom: 30px;			
			}
			.as-spec-wrap {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				.as-spec-txt {
					display: flex;
					flex-flow: column nowrap;
					max-width: 295px;
					.as-txt-item {
						display: flex;
						flex-flow: column nowrap;
						color: #282f39;
						margin-bottom: 30px;
						.as-txt-caption {
							font-size: 16px;
							font-family: "ArialBold";
							padding-left: 30px;	
							line-height: 32px;					
						}
						.as-txt-caption-address {
							background-image: url('../img/mark-blue.png');	
							background-repeat: no-repeat;	
							background-position: 5px center;					
						}
						.as-txt-caption-phone {
							background-image: url('../img/phone-blue.png');	
							background-repeat: no-repeat;	
							background-position: 5px center;						
						}
						.as-txt-content {
							padding-left: 30px;
							font-size: 15px;
						}
					}					
				}
				.as-spec-img {
					width: 300px;
					height: 200px;
					img {
						max-width: 100%;
						max-height: 100%; 
					}
				}
			}
			.as-map {
				margin-bottom: 30px;
			}
			.trip-search-wrap {
				margin-bottom: 30px;
				form {
					display: flex;
					flex-flow: row nowrap;
					input[type="text"] {
						width: 540px;
						height: 50px;
						margin-right: 20px;
					}
					.search-trip {
						background-image: url('../img/bus-white.png');	
						background-repeat: no-repeat;	
						background-position: 10px center;
						width: 140px;
						height: 50px;	
					}
				}
			}
			.trip-table-as {
				width: 100%;
				thead {
					tr {						
						background-color: #333;						
						th {
							background-image: url('../img/trip-select.png');
						    background-position: 24px center;
						    background-repeat: no-repeat;
						    height: 40px;
						    a {
						    	color: white;
						    	font-size: 13px;
						    	font-weight: 400;
						    	line-height: 24px;
						    	padding-left: 45px;
						    }
						}
					}
				}
				tbody {
					tr {
						border: 1px solid #e5e5e5;
						td {
							color: black;
							font-size: 16px;
							font-weight: 400;
							line-height: 20px;
							padding: 0 0 0 50px;
							height: 60px;
							min-height: 60px;
							vertical-align: middle;
							.trip-btn {
								width: 120px;
								height: 40px;
								font-size: 16px;
							}
						}
						td:nth-child(1) {
							padding-left: 45px;
							background-image: url('../img/bus.png');
						    background-position: 20px center;
						    background-repeat: no-repeat;
						    min-width: 175px;
						}
						td:nth-child(4) {
							padding-left: 0;
							text-align: center;
						}
					}
				}
			}
			.trip-table-as-mobile {
				display: none;
			}
		}
	}
}

/* Bus List */
.inner-body-bus-list {
	background-color: #f1f2f3;
	padding-left: 0;
	padding-right: 0;
}

.type-trip {
	background-color: #fff;
	padding-left: 0;
	padding-right: 0;
	.type-trip-inner {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		height: 135px;
		.btn-yellow {
			width: 300px;
			height: 55px;
			color: black;
			font-size: 16px;
			font-family: "ArialBold";
			margin: 0 45px;
		}
		.btn-yellow:hover {
			opacity: 0.7;
		}
		.btn-blue {
			width: 300px;
			height: 55px;
			font-size: 16px;
			font-family: "ArialBold";
			border-radius: 0;
			box-shadow: none;
		}
	}
	
}

.trip-params {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	height: 140px;
	.trip-params-inner {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		label {
			margin-right: 20px;
			max-width: 120px;
		}
		.trip-from {
			width: 235px;
		}
		.trip-where {
			width: 380px;
		}
	}
}

.map-bus-list {
}

.trip-search-wrap {
	margin-top: 40px;
	margin-bottom: 40px;
	input[type="text"] {
		border: 1px solid #e5e5e5;
		border-radius: 6px;
		padding: 6px 10px; 
		-webkit-appearance: none;
		  /* for FF */
		-moz-appearance: none;
		  /* for IE */
		-ms-appearance: none;
		appearance: none;
		width: 775px;
		height: 50px;
		margin-right: 20px;	
	}
	.search-trip {
		background-image: url('../img/bus-white.png');	
		background-repeat: no-repeat;	
		background-position: 10px center;
		width: 140px;
		height: 50px;	
	}
}

.trip-table-bus {
	width: 100%;
	thead {
		tr {						
			background-color: #333;						
			th {
				background-image: url('../img/trip-select.png');
			    background-position: 24px center;
			    background-repeat: no-repeat;
			    height: 40px;
			    a {
			    	color: white;
			    	font-size: 13px;
			    	font-weight: 400;
			    	line-height: 24px;
			    	padding-left: 45px;
			    }
			}
		}
	}
	tbody {
		tr {
			border: 1px solid #e5e5e5;
			background-color: #fff;
			td {				
				color: black;
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				padding: 20px 20px 20px 50px;
				min-height: 60px;
				text-align: left;
				vertical-align: top;
				.trip-btn {
					width: 120px;
					height: 40px;
					font-size: 16px;
				}
				.trip-number {
					margin-top: 10px;
					color: #666;
					font-size: 14px;
					line-height: 17px;
					span {
						color: black;
						font-size: 16px;
					}
				}
				.trip-note {
					margin-top: 10px;
					color: #282f39;
					font-size: 13px;
					line-height: 15px;
				}
				.trip-info {
					margin-top: 10px;
					font-size: 13px;
					line-height: 15px;
					color: #666;
					span {
						color: black;
					}
				}
			}
			td:nth-child(1) {
				padding-left: 55px;
				background-image: url('../img/bus.png');
			    background-position: 20px 23px;
			    background-repeat: no-repeat;
			    min-width: 260px;
			}
			td:nth-child(4) {
				min-width: 215px;
			}
			td:nth-child(5) {
				padding-left: 0;
				text-align: center;
				vertical-align: middle;
			}
		}
	}
}
.trip-table-bus-mobile {
	display: none;
}
.pagination {
	margin: 30px 0;
	li {
		a {
			border-radius: 4px;
			color: #09c;
			margin: 10px;
			border: 1px solid #09c;
		}
	}
	li.active {
		a {
			background-color: #09c;
			color: white;
		}
	}
}

/* Account */
.table-account {
	thead {
		tr {						
			background-color: #333;						
			th {
			    background-position: 24px center;
			    background-repeat: no-repeat;
			    height: 40px;
			    a {
			    	color: white;
			    	font-size: 13px;
			    	font-weight: 400;
			    	line-height: 24px;
			    	padding-left: 20px;
			    }
			}
		}
	}
	tbody {
		tr {
			border: 1px solid #e5e5e5;
			background-color: #fff;
			td {				
				color: black;
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				padding: 20px;
				min-height: 60px;
				text-align: left;
				vertical-align: top;
				.trip-btn {
					width: 120px;
					height: 40px;
					font-size: 16px;
				}
				.trip-number {
					margin-top: 10px;
					color: #666;
					font-size: 14px;
					line-height: 17px;
					span {
						color: black;
						font-size: 16px;
					}
				}
				.trip-note {
					margin-top: 10px;
					color: #282f39;
					font-size: 13px;
					line-height: 15px;
				}
				.trip-info {
					margin-top: 10px;
					font-size: 13px;
					line-height: 15px;
					color: #666;
					span {
						color: black;
					}
				}
			}
			td:nth-child(1) a {
				background: url('../img/invoice.png') left center no-repeat;
				color: #0099cc;
				font-size: 16px;
				text-decoration: underline;
				padding-left: 25px;
			}
			td:nth-child(2) {
				min-width: 210px;
			}
			td:nth-child(6) {
				max-width: 160px;
				text-align: center;
				.decline {
					color: #0099cc;
					background: transparent;
					font-size: 13px;
					text-decoration: underline;
				}
			}
		}
	}
}
.trip-table-bus-mobile {
	display: none;
}
.table-account-mobile {
	display: none;
}


